<script>

appearance_date_setup = function(element){
	if((element).is(":checked")){
			$('#quiz_appearance_time').attr("disabled","disabled");
		}
		else{
			$('#quiz_appearance_time').attr("disabled",false);
		}
}

due_date_setup = function(element){
		if((element).is(":checked")){
			$('#quiz_due_date').attr("disabled","disabled")
		}
		else{
			$('#quiz_due_date').attr("disabled",false);
		}
}


$(document).ready(function(){
	
	appearance_date_setup($('#quiz_appearance_time_module'));
	due_date_setup($('#quiz_due_date_module'));
	
	$('#quiz_appearance_time_module').click(function(event){
		console.log("here")
		appearance_date_setup($(this));
	});	
	$('#quiz_due_date_module').click(function(event){
		due_date_setup($(this));
	});
	
	
});


</script>
<style>
	.bigimg{
		width:150px;
	}
</style>

<center>
<h3>Details</h3>
<%= form_for([@course,quiz], :remote => true) do |f| %>
<table class="table table-striped table-bordered" style="width:90%;font-size:12px;text-align: center">
<tr>
<td><%=quiz.quiz_type.capitalize%> Title:</td><td> <%= f.text_field :name, :size => 15, :style => "height:17px;width:140px;font-size:12px;"%></td>
</tr>
<tr>
<td>Use Module's Appearance Date? </td><td> <%= f.check_box :appearance_time_module %><br /> <%= f.text_field :appearance_time , :class => "date_picker",:style => "height:25px;width: 120px;font-size:12px;" %></td>
</tr>
<tr>
<td>Use Module's Due Date? </td><td> <%= f.check_box :due_date_module %><br /><%= f.text_field :due_date  , :class => "date_picker",:style => "height:25px;width: 120px;font-size:12px;"%></td>
</tr>
<tr>
<td>Instructions:</td><td><%= f.text_area :instructions,:size=>15 ,:style => "width:140px;font-size:12px;height:80px;" %></td>
</tr>
</table>
<%= f.submit "Update", :class => "btn"%>
<% end %>
</center>

<script>
	$(function (){
 $('.date_picker').datepicker();
 });
</script>

