<script>
	function validate(something)
	{
		console.debug(something)
	}
</script>

<%= form_tag(student_quiz_course_path(@course), {:onSubmit => 'validate(this)'}) do %>

<%= hidden_field_tag 'quiz', quiz.id %>

<% if !@alert_messages.empty? %>
<div class="alert">
	<%= alert_messages.html_safe %>
</div>
<% end %>

<p>
  <h4><%= quiz.name %></h4>
</p><br />

<p>
  <%= quiz.instructions %>
</p>

<p>
	
	<br />
	<table width="100%" %>
		
	
	<%= render quiz.questions %>
	
	</table>
	
</p>

<% if quiz.quiz_type == 'quiz' %>
<% if @disable %>
<center><div><%= submit_tag 'Save' ,:disabled => "disabled" , :class => 'btn' %><%= submit_tag 'Submit' ,:disabled => "disabled",  :class => 'btn btn-primary'%></div></center>
<% else %>
<center><div><%= submit_tag 'Save' , :class => 'btn' %><%= submit_tag 'Submit' ,  :class => 'btn btn-primary'%></div></center>
<% end %>
<%else%>
<center><div><%= submit_tag 'Save' , :class => 'btn btn-primary' %></div></center>
<% end %>

<% end -%>  



