<%= form_tag(student_quiz_course_path(@course)) do %>

<%= hidden_field_tag 'quiz', quiz.id %>

<p>
  <h4>Name:</h4>
  <%= quiz.name %>
</p>

<p>
  <h4>Instructions:</h4>
  <%= quiz.instructions %>
</p>

<p>
	<ul>
	<h4>Questions:</h4>
	<%= render quiz.questions %>
	</ul>
</p>

<center><div><%= submit_tag 'Submit' %></div></center>
<% end -%>  



