<% content_for :extra do %>
    <ul class="nav nav-pills">
    <li class=<%= (current_page?(course_path(@course)) ? 'active' : nil)  %>>
    <%= link_to "Course Information", course_path(@course)%>
    </li>
    <li class=<%= (current_page?(courseware_teacher_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Courseware", courseware_teacher_course_path(@course)%></li>
    <li class=<%= (current_page?(enrolled_students_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Enrolled Students", enrolled_students_course_path(@course)%></li>
    <li class=<%= (current_page?(progress_teacher_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Progress", progress_teacher_course_path(@course)%></li>
    </ul>
<% end %>

<h1><%= @course.short_name %> Quizzes</h1>

<table class="table table-striped">
  <tr>
    <th>Course</th>
    <th>Name</th>
    <th>Instructions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quizzes.each do |quiz| %>
  <tr>
    <td><%= quiz.course_id %></td>
    <td><%= quiz.name %></td>
    <td><%= quiz.instructions %></td>
    <td><%= link_to 'Show', course_quiz_path(@course.id, quiz.id) %></td>
    <td><%= link_to 'Edit', edit_course_quiz_path(@course.id, quiz.id) %></td>
    <td><%= link_to 'Destroy', course_quiz_path(@course.id, quiz.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quiz', new_course_quiz_path(@course) %>
