<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<style>
	.small{
		width:100%;
	}
	.down{
		margin-top:20px;
	}
	.purr {
  position: fixed;
  top: 50px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}
</style>
<%= render "shared/head"%>
<% cache :hash => {:tag => Announcement.where(:course_id => @course.id).maximum('updated_at').to_i, :num => Announcement.where(:course_id => @course.id).count} do %>
<h3><%= @course.name %> Announcements</h3>
<table id="announce" class="table table-striped down">

<% @announcements.each do |a| %>
	
<tr id=<%="announce_#{a.id}" %> >
	<td><%= best_in_place a, "announcement", :path => [@course, a], :classes => "small", :type => :textarea , :data => {:id => a.id} %></td>
	<td class='updated' id=<%= "time_#{a.id}"%>><%= a.updated_at %></td>	
	<td><%= link_to (image_tag "trash3.png"), [@course, a ] ,:data => {:confirm => "Are you sure you want to delete this announcement?"}, :method => :delete, :remote=> true, :style=>"float:right;margin-top:2px;" %></td>	
</tr>
	
<% end %>
</table>

<div id="error"></div>
<%= render "form" %>
<% end %>

<script>
	$(document).ready(function(){
		$('.best_in_place').bind("ajax:success", function () {
			var id=$(this).data('id');
			$.ajax({url:"/courses/<%=@course.id%>/announcements/"+id+"/reload", type:'get', dataType:'script'}); 
		});
		
		$('#post_announce').click(function(event){
			$("#sending").addClass("alert")
			$("#sending").html("<b>Sending Emails...</b>");
		});
	});
</script>
