<script>
function setAuthor(element) // get the author of the youtube video and display it.
{
	id=element.val().split("v=")[1]
	
	if(id!=null && typeof id != 'undefined')
	{
		id= id.split("&")[0]
		var title="";
		var duration;
		var author;
		var url="http://gdata.youtube.com/feeds/api/videos/"+id+"?alt=json"
		console.debug(url)
		$.ajax({
                url: url,
                dataType: "jsonp",
                success: function (data) {
			        title = data.entry.title.$t;
			        author = data.entry.author[0].name.$t;
			        duration = data.entry.media$group.yt$duration.seconds
			        $("#title").text(title);
			        $("#author").text(author);
			        $("#thumbnail").html("<img class=bigimg src="+data.entry.media$group.media$thumbnail[0].url+" />");
			        saveDuration(duration);
			        }
	    });
	}
}

saveDuration = function(duration){
	$.getJSON("/courses/"+<%=@course.id %>+"/lectures/"+<%= lecture.id%>+"/save_duration",{"duration":duration}, function(resp){
					        
					        });
}
appearance_date_setup = function(element){
	if((element).is(":checked")){
			$('#lecture_appearance_time').attr("disabled","disabled");
			
		}
		else{
			$('#lecture_appearance_time').attr("disabled",false);
			
		}
}

due_date_setup = function(element){
		if((element).is(":checked")){
			$('#lecture_due_date').attr("disabled","disabled");
			
		}
		else{
			$('#lecture_due_date').attr("disabled",false);
			
		}
}

setVideo = function()
{
$.ajax({url:"/courses/<%=@course.id%>/lectures/<%=lecture.id%>/middle", type:'get', dataType:'script'}); //middle
}
$(document).ready(function(){
	
	appearance_date_setup($('#lecture_appearance_time_module'));
	due_date_setup($('#lecture_due_date_module'));
	setAuthor($("#lecture_url"));
	
	$('#lecture_appearance_time_module').click(function(event){
		console.log("here")
		appearance_date_setup($(this));
	});	
	$('#lecture_due_date_module').click(function(event){
		due_date_setup($(this));
	});
	$('#lecture_url').change(function(event){
		// over here, convert all to long.
		var url=$('#lecture_url').val();
		var videoid = url.match(/(?:https?:\/{2})?(?:w{3}\.)?youtu(?:be)?\.(?:com|be)(?:\/watch\?v=|\/)([^\s&]+)/);
		if(videoid != null) {
		   console.log("video id = ",videoid[1]);
		   //change handler is not executed when the content is changed programmatically.
		   $("#lecture_url").val("http://www.youtube.com/watch?v="+videoid[1]);
		} else { 
		    console.log("The youtube url is not valid.");
		}
		
		setAuthor($(this));
		//setVideo();
	});
	
	
});


</script>
<style>
	.bigimg{
		width:150px;
	}
</style>

<center>
<h3>Details</h3>
<%= form_for([@course,lecture], :remote => true) do |f| %>
<table class="table table-striped table-bordered" style="width:90%;font-size:12px;text-align: center">
<tr>
<td>Lecture Title:</td><td> <%= f.text_field :name, :size => 15, :style => "height:17px;width:140px;font-size:12px;"%></td>
</tr>
<tr>
<td>Lecture URL:</td><td> <%= f.text_field :url, :size => 15, :style => "height:17px;width:140px;font-size:12px;", :onclick => "$(this).select();" %></td>
</tr>
<tr>
<td>Thumbnail:</td><td id="thumbnail"> </td>
</tr>
<tr>
<td>Author:</td><td> <%= label_tag :author,'', :style => "width:140px;font-size:10px;", :id => "author"%></td>
</tr>
<tr>
<td>Title:</td><td> <%= label_tag :title, '',:style => "width:140px;font-size:10px;", :id => "title"%></td>
</tr>
<tr>
<td>Use Module's Appearance Date? </td><td> <%= f.check_box :appearance_time_module %><br /> <%= f.text_field :appearance_time , :class => "date_picker",:style => "height:25px;width: 120px;font-size:12px;" %></td>
</tr>
<tr>
<td>Use Module's Due Date? </td><td> <%= f.check_box :due_date_module %><br /><%= f.text_field :due_date  , :class => "date_picker",:style => "height:25px;width: 120px;font-size:12px;"%></td>
</tr>
<tr>
<td>Slides:</td><td><%= f.text_field :slides, :size => 15, :style => "height:17px;width:140px;font-size:12px;"%></td>
</tr>
<tr>
<td>Description:</td><td><%= f.text_area :description,:size=>15 ,:style => "width:140px;font-size:12px;height:80px;" %></td>
</tr>
</table>
<%= f.submit "Save Lecture", :class => "btn"%>
<% end %>
</center>

<script>
	$(function (){
 $('.date_picker').datepicker();
 });
</script>

