<%= simple_form_for([@course,@lecture], :html => { :class => 'form-horizontal' })  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :name %>
    <%= f.input :description , :input_html => {:style => 'width: 210px; height: 100px'} %>
    <%= f.input :url %>
    <%= f.association :group , :collection => Group.where(:course_id => @course.id) %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
