<script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
<!-- <script src="/assets/jquery.swfobject.1-1-1.min.js"></script>
<script src="/assets/youTubeEmbed-jquery-1.0.js"></script> -->

<style>
#page{
	min-height:600px;
}
	.ontop{
		/*background:#fff;  /* invisible div*/
        position:absolute;
        min-width:800px;
        
        z-index:2;
        margin-top:40px;
        /*margin-left:40px;*/
	}
	.player{
		
	}
	
.close {
    float: right;
    margin-top:35px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    opacity: 0.2;
  }  

.modal-body{
	margin-top:-35px;
	padding-bottom:0px;
	
}

    .modal{
    width: 1000px;
    
    /*must be half of the width, minus scrollbar on the left (30px)*/
   /* margin: -470px 0 0 -500px;*/
}

.modal.fade.in {
  /*top: auto; /* fade in to correct spot */
}

textarea{
	width:100%;
	min-height:80px;
}

</style>
<div id="error"></div>

<% if !@alert_messages.empty? %>
<div class="alert">
	<%= alert_messages.html_safe %>
</div>
<% end %>

<%  cache :hash => {:tag => lecture.updated_at.to_i, :lecture => lecture.id} do %>

<p>
  <b>Name:</b>
  <%= lecture.name %>
</p>

<p>
  <b>Description:</b>
  <%= lecture.description %>
</p>

<p style="display:inline">
  <b style="display:inline">Duration:</b>
  <p style="display:inline" id='dur' ></p>
</p>

<p>
	<b>Number of Questions:</b>
	<%= lecture.online_quizzes.count %>
</p>

<div id="page">
	<div class="ontop" id="ontop_video_youVideo" style="min-height:450px;"></div>
	<div id="player" style="position:absolute"></div>
	<!-- <div id="checkButton" style="margin-top:-70px; position:absolute; margin-left:150px"></div> -->
	
</div>
<% end %>
	<div id="evaluation" style='width:800px;'></div>


<hr style="position:absolute">    

		<!-- Button to trigger modal -->

    
<!-- Modal -->    

<div style="display: none;width:1200px;max-height:555px;margin-left:-600px;margin-right:-600px;" id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <!-- <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel"><%= lecture.name %></h3>
  </div> -->
  <div class="modal-body" style="max-height:555px;height:100%">
       
       	<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="pauseFirst()">×</button> -->
        <center>
        <div id="page" style="min-height:555px;width:832px;">
		<center>
		<div class="ontop" id="ontop_video_bigVideo" style="min-width:832px;min-height:468px"></div>
		<div id="player2" style="position:absolute"></div>
		</center>
		</div>
		</center>
		
		
  </div>
 
</div>


<script>

var pop, last,flag;
var currentID=""
//var player=document.getElementById("video_youVideo");

//$(document).ready(function() {
//$('#toask').clickover({ global_close: true, html:true })//, template:  '<div class="popover myclass"><div class="arrow"></div><div class="popover-inner myclass"><div class="popover-content"><p></p></div></div></div>'})//.dblclick(function() {
//});

//$('.best_in_place').bind('ajax:success', function(){ this.innerHTML = this.innerHTML.replace(/\n/g, '<br />') });

function fading(hid)
{
	$('#conf_'+hid).fadeToggle();
	if($('#conf').css('display')!="none")
		//pop.pause();
		pauseVideo(hid);
}

function shortcuts(hid)
{
	//<li><b>up/down:</b> Change playback speed</li> // add to shortcuts when done
	$("#short_"+hid).html("Keyboard Controls:<br><ul><li><b>b:</b> Back 10 Seconds</li><li><b>space:</b> pause/play </li><li><b>q:</b> Ask Question</li><li><b>c:</b> Confused</li></ul>");
	$("#short_"+hid).fadeToggle();
	
}

function markSeen()  // marks that lecture was viewed
{
	//pop.play();
	playVideo();
	$.getJSON('<%= @seen_path %>', {"seen":true}, function(response){
	});

}

function showEvaluation(hid)
{
	$.getJSON('<%= @get_evaluation_path %>', {"course_id":<%= @course.id %>, "lecture_id":<%= @q.id %>}, function(response){
	console.log(response)
	value= response['first']
	console.log(value)
	if(value==true)
	$("#evaluation").html("<b>Evaluate Lecture:</b><br><textarea id='evaluate' rows='5' style='width:100%;'/><input type='button' class='btn btn-primary' style='float:right;' onclick='saveEval()' value='Save'>");
	else
	$("#evaluation").html("<b>Your Evaluation:</b><br><span class='best_in_place' id='best_in_place_evaluation_"+response['eval']['id']+"_evaluation' data-url='/evaluations/"+response['eval']['id']+"' data-object='evaluation' data-attribute='evaluation' data-type='textarea'>"+response['eval']['evaluation']+"</span><a href='/evaluations/"+response['eval']['id']+"' class='btn btn-mini btn-danger' data-confirm='Are you sure?' data-method='delete' data-remote='true' rel='nofollow' style='float:right;margin-top:2px;'>X</a>")
	});
}

function saveEval()
{
	text=$('#evaluate').val();
	$.post('<%= @evaluation_path %>', {"eval":text, "course_id":<%= @course.id %>, "lecture_id":<%= @q.id %>}, function(response){
	});
}

function pauseFirst(){
	//pop.pause();
	pauseVideo();
}
function formatSecondsAsTime(secs, format) {
  var hr  = Math.floor(secs / 3600);
  var min = Math.floor((secs - (hr * 3600))/60);
  var sec = Math.floor(secs - (hr * 3600) -  (min * 60));

  if (hr < 10)   { hr    = "0" + hr; }
  if (min < 10) { min = "0" + min; }
  if (sec < 10)  { sec  = "0" + sec; }
  if (hr)            { hr   = "00"; }

  if (format != null) {
    var formatted_time = format.replace('hh', hr);
    formatted_time = formatted_time.replace('h', hr*1+""); // check for single hour formatting
    formatted_time = formatted_time.replace('mm', min);
    formatted_time = formatted_time.replace('m', min*1+""); // check for single minute formatting
    formatted_time = formatted_time.replace('ss', sec);
    formatted_time = formatted_time.replace('s', sec*1+""); // check for single second formatting
    return formatted_time;
  } else {
    return hr + ':' + min + ':' + sec;
  }
}



function confused(hid)
{
	$('#confused_notify_'+hid).html("<div id='fading_"+hid+"' style='width:40px;height:10px;text-align:center;vertical-align:center;line-height:12px;padding-left:20px;' class='alert alert-success'>Thanks!</div>")
	$("#fading_"+hid).fadeOut(5000);

	
	var player=document.getElementById(hid);
	$.getJSON('<%= @confused_path %>', {"time":player.getCurrentTime()}, function(response){
	});
}

function back(time)
{
	$.getJSON('<%= @back_path %>', {"time":time}, function(response){
	});
}

function pause(time)
{
	$.getJSON('<%= @pause_path %>', {"time":time}, function(response){
	});
}



function confusedQuestion(hid)
{
	var player=document.getElementById(hid);
	ques=document.getElementById("confusedQues_"+hid).value
	$.getJSON('<%= @confused_question_path %>', {"time":player.getCurrentTime(), "ques":ques}, function(response){
		$('#conf_'+hid).fadeToggle();
		document.getElementById("confusedQues_"+hid).value=""
		//pop.pause();
	});	
	// pause video aswell
}

function save(elem)
    		{
    			var answer_id= elem.attr("id")
				// here call the controller function to save to database!!
    			$.getJSON("<%= @saveOnline %>",{"quiz":currentID, "answer":answer_id }, function(resp){
    				
    			});
    		}

function checkTime(hid, duration) {
	
	
	
	// DONE change all syntax to new one  done
	// DONE want to change id to something constant!!! done
	// DONE make full screen disappear except when hover. done
	// DONE do fullscreen stuff
	// DONE put confused and question button next to play and full screen
	// DONE make answers display like with teacher.. 3al video like popovers.
	// DONE to display the current time 3al video.. do zay el 3ady just update a div bil current time el gdeed..
	// DONE of click play min youtube, el play el tanya doesn't change.. need to change that.
	// now last/flag work.. but when scroll to 248 sec and then pause, then play again.. hangs why??
	// try maybe to do old method, in .js zay onclick but fo2eeha.. abl el !initialize..
	// seeking mish byzabat el time!!
	// second quiz mazaharsh
	// zabaty coordinates
	// DONE check  rates
	// show explnation instead of answer!!
	// play video as soon as page loads.
	// markSeen() when click on the lecture (instead of clicking play) wala when solve all lecture quizzes?
	// when close modal, pause video..
	// make sure it works right ..
	// TEST!!
	// probably when enlarge or make smaller, should continue playing from where I was on other screen.. like it's one..
	// make teacher video like this.. so that 16:9 w mish yetakhaba..
	// DONE adjust coordinates of small student video.
	
	                //console.log('checkTime', ytplayer.getCurrentTime());
                //document.getElementById('time').innerHTML = ytplayer.getCurrentTime();
                //console.log(elements.container)
                //if(elements.container.hasClass('playing')){
                var player=document.getElementById(hid);
                
                
               
                if(document.getElementById(hid).getPlayerState()==1) // when it's playing.
                    //console.log();
                {    console.log("TIME: "+ player.getCurrentTime())
                	console.log("duration "+ duration)
                	//console.log("player width isss "+player.width);
                	console.log("quality"+ player.getPlaybackQuality())
                	console.log(player.getAvailableQualityLevels())
                
                	
                	logStudent(player.getCurrentTime(), duration)
                
                
                	$('#timer_'+hid).html("<p style='float:left;margin-left:60px;left:50px;line-height:60px;color:gray'>"+formatSecondsAsTime(player.getCurrentTime())+"</p><p style='float:left;margin-left:0px;line-height:60px;color:gray'> / "+formatSecondsAsTime(duration)+"</p>");
                	
                	a= <%= raw lecture.online_quizzes.to_json %>;   // important how to convert rails array of objects to JS array of objects
    //console.debug(a)
    //console.debug(a[0])
           for(key in a) {
          //console.debug("online quiz time isss "+a[key].time)
          //console.debug("flag isss "+flag)
           if(player.getCurrentTime()> parseFloat(a[key].time) && player.getCurrentTime()< parseFloat(a[key].time)+0.5 &&  flag==0 )
           {
           //console.debug("more than 4 seconds");
          // document.getElementById("foo").innerHTML = "<b style='background-color: white;'>HELLO!!!</b>";
          //  console.debug("pop duration isss"+pop.duration()) 
           //pop.pause();
           pauseVideo(hid);
           flag=1;
           last=parseFloat(a[key].time)
           currentID = a[key].id
           // now i want to get the answers
           console.debug("before "+a[key].id)
          
            $.getJSON("<%= @url %>",{"quiz":a[key].id }, function(resp){
    			console.debug("after "+a[key].id) // changes for some reason so stick to currentID
    			console.log(resp)
    			everything={}
    			ordered={}
    			html=""
    			for(answer in resp['answers']) {
           			top3= parseFloat((resp['answers'][answer].ycoor)*(player.width*9/16)/281);
           			left= parseFloat(resp['answers'][answer].xcoor*(player.width)/500)+1;
           			
           			
           			reason= resp['answers'][answer].explanation
           			if(resp['answers'][answer].correct==true)
           			{
           				title="<b style='color:green'>Correct</b>"
           				t2="Correct"
           			}else{
           				title="<b style='color:red'>Incorrect</b>"
           				t2="Incorrect"
           			}
           			
           			console.debug( "x: "+top3+" y:"+left+" reason: "+resp['answers'][answer].explanation)
           			everything[resp['answers'][answer].id]=[t2, reason]
           			ordered[parseInt(resp['answers'][answer].ycoor)]=[resp['answers'][answer].id,title, reason]
           			console.debug("current ID is "+currentID)
           			console.debug("a[key].id iss "+a[key].id)
           			html+="<input name='button_"+currentID+"'type='radio' onclick='save($(this))' rel='clickover' id='"+resp['answers'][answer].id+"' data-original-title=\""+title+"\" class='pop' data-content=\""+reason+"\" style='position:absolute; border: 1px solid #006; background: #9cf; top:"+top3+"px; left: "+left+"px;'>"
           			//onclick='show_reason(\""+reason+"\")'
           			//$('.pop').popover()
           			
           			
           			//$("[rel=popover]").popover(); //{trigger: 'manual'}
           			
           			
           			//console.debug( "x: "+top3+" y:"+left)
           			//html+="<button style='position:absolute; width: 3px; height: 5px; border: 1px solid #006; background: #9cf; top:"+top3+"px; left: "+left+"px;'></button>"
           			//document.getElementById("ontop").innerHTML=html;
           			// absolute therefore xpos relative to parent div. i.e. xpos min awel el video.
    		}
    		console.debug("answereddd? "+resp['ans'])
    		//document.getElementById("checkButton").innerHTML= "<input class='check btn' type='button' value='Check My Answer'></button>"
    		// this creates the red answered ontop of video
    		//html+="<p id='tochange' style='color:red; background-color:white;position:relative;'>"+resp['ans']+"</p>"
    		document.getElementById("ontop_"+hid).innerHTML=html;
    		$("[rel=clickover]").clickover();
    		
    		//$(document).on("click", ".check", function () {
    		
			     
			    		
    		
    		});
           
           // need timer here so don't pause twice!!
           
           }
           else
           {
           //	console.debug("last issss "+last)
           	if(player.getCurrentTime() > last + 1.0 || (player.getCurrentTime() < last) )   // 1 second from both directions so don't stop after playing.
           	{
           		flag=0;
           	} 
           	
           	
           if (player.getPlayerState()!=2){
           //document.getElementById("foo").innerHTML=""   
           document.getElementById("ontop_"+hid).innerHTML=""
          
           }
           }

           
           }
         }
		}


function checkedRadioBtn(sGroupName)
    {   
        var group = document.getElementsByName(sGroupName);

        for ( var i = 0; i < group.length; i++) {
            if (group.item(i).checked) {
                return group.item(i).id;
            } else if (group[0].type !== 'radio') {
                //if you find any in the group not a radio button return null
                return null;
            }
        }
        return null
    }
    
    
$(document).ready(function(){

	last=0;
	flag=0;
	
	$('#player').youTubeEmbed("<%= lecture.url %>",800,500,'small', 'youVideo');
	
//.youTubeEmbed('http://www.youtube.com/watch?v=quwebVjAEJA');				
	console.log("<%= lecture.url %>")

	// adding shortcuts
	 // add shortcuts
    shortcut.add("c",function() {
		//alert("hey");
		 if($('#myModal2').css("display")=="none")
			confused("video_youVideo");
		else
			confused("video_bigVideo");
	},{"disable_in_input" : true});
	
	shortcut.add("q",function() {
		//alert("hey");
		 if($('#myModal2').css("display")=="none")
			fading("video_youVideo");
		else
			fading("video_bigVideo");
	},{"disable_in_input" : true});
    
    shortcut.add("Space",function() {
		//alert("hey");
		 if($('#myModal2').css("display")=="none"){
			if(document.getElementById("video_youVideo").getPlayerState()==1){
				document.getElementById("video_youVideo").pauseVideo();
				t=document.getElementById("video_youVideo").getCurrentTime();
				pause(t);
			}else{
				document.getElementById("video_youVideo").playVideo();}
		}else{
			if(document.getElementById("video_bigVideo").getPlayerState()==1){
				document.getElementById("video_bigVideo").pauseVideo();
				t=document.getElementById("video_bigVideo").getCurrentTime();
				pause(t)
			}else{
				document.getElementById("video_bigVideo").playVideo();}
		}
	},{"disable_in_input" : true});
	
	shortcut.add("b",function() {
		//alert("hey");
		 if($('#myModal2').css("display")=="none"){
		 		t=document.getElementById("video_youVideo").getCurrentTime();
				document.getElementById("video_youVideo").seekTo(t-10,true);
				back(t)
		}else{
				t=document.getElementById("video_bigVideo").getCurrentTime();
				document.getElementById("video_bigVideo").seekTo(t-10,true);
				back(t)
		}
		
		//console.log(document.getElementById("video_youVideo").getAvailablePlaybackRates())
	},{"disable_in_input" : true});
	
	shortcut.add("Up",function() {
		//alert("hey");
		 if($('#myModal2').css("display")=="none"){
				document.getElementById("video_youVideo").setPlaybackRate(2);
				console.log(document.getElementById("video_youVideo").getAvailablePlaybackRates())
		}else{
				document.getElementById("video_bigVideo").setPlaybackRate(2);
		}
		
		//console.log(document.getElementById("video_youVideo").getAvailablePlaybackRates())
	},{"disable_in_input" : true});
	
	
	showEvaluation("");  // on load show evaluation .. (only if 7aga mo3ayana?)
    
});

function pauseVideo(hid)
{
	//$(document.getElementById("player")).children().children(".controlDiv.pause").click();
	var player=document.getElementById(hid);
	player.pauseVideo();
}

function playVideo(hid)
{
	//$(document.getElementById("player")).children().children(".controlDiv.play").click();
	var player=document.getElementById(hid);
	player.playVideo();
}
function logStudent(time,duration)
{
	quarter=duration/4
	half=duration/2
	three_quarters=duration*3/4
	
	
	if(time>quarter && time<quarter+1){ // within 1 second
		$.getJSON('<%= @seen_path %>',{"portion":25}, function(resp){
		});
	}
	
	if(time>half && time<half+1){
		$.getJSON('<%= @seen_path %>',{"portion":50}, function(resp){
		});
	}
	
	if(time>three_quarters && time<three_quarters+1){
		$.getJSON('<%= @seen_path %>',{"portion":75}, function(resp){
		});
	}
}

</script>