<script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
<style>
	.ontop{
		/*background:#fff;  /* invisible div*/
        position:absolute;
        min-width:600px;
        min-height:400px;
        z-index:99;
	}
	
	.myclass{
		width:100px;
	}
</style>

<%= render 'shared/head' %>

<div class="row">
<div class="span5">
Please Click on where you'd like the buttons to be.
<div id="answer"></div>
<!-- <%= link_to "Back to Lecture ", course_lecture_path(@course, @lecture)%> -->
</div>

<div class="span7">
	
<center><div style="width:600px" >
<div class="ontop" id="ontop"></div>
<div id="youtube" style="width:600px;height:400px;"></div>
<div id="foo"></div>
</div></center>
</div>



<script language="JavaScript" type="text/JavaScript">

$(document).ready(function() {
  $('.ontop').click(function(e) {
    var offset = $(this).offset();
  	left= parseInt(e.pageX) - parseInt(offset.left) //not clientX because client depends on window.. so numbers change when scrolling.
  	top2 = parseInt(e.pageY) - parseInt(offset.top)
  	
  	console.debug("offset is "+ left)
  	console.debug("offset is "+ top2)
  	add_answer(left, top2, <%=@quiz.id %>, '<%= add_answer_course_lecture_path(@course, @lecture) %>', true)
     
  });
  add_answer(0,0,<%=@quiz.id %>, '<%= add_answer_course_lecture_path(@course, @lecture) %>',false)
});


</script>
 



<!-- Should move this somewhere else later -->

<script>

var pop

//function add_quiz(lecture){
	
//}
add_answer = function(left,top2,quiz,url,flag) {
    console.debug("time is "+top)
    $.getJSON(url,{"left":left, "top":top2, "quiz":quiz, "flag":flag}, function(resp){
    	
    if(document.getElementById("answer").innerHTML==""){	
    html="<form data-validate='yes' name='input' action='"+resp['save']+"' method='get'><table id='table_new' class='table table-striped'> <tr><th>X</th><th>Y</th><th>Explanation</th><th>Correct</th><th></th><th></th></tr>"
    html2=""
    console.debug(resp['a'])
    
    for(e in resp['a'])
    {
    	if(resp['a'][e].correct == true)
    	{
    		check='checked'
    	}else{
    		check=''
    	}
    	
    	html+="<tr id='row_"+resp['a'][e].id+"'><td><input type='text' onchange='positionChanged("+resp['a'][e].id+")' style='width:30px' size='5' value='"+resp['a'][e].xcoor+"' name='xcoor["+resp['a'][e].id+"]' id='xcoor["+resp['a'][e].id+"]' required='required' pattern='[0-9]*' title='Integers only'></td><td><input type='text' onchange='positionChanged("+resp['a'][e].id+")' pattern='[0-9]*'  title='Integers only' style='width:30px' value='"+resp['a'][e].ycoor+"' name='ycoor["+resp['a'][e].id+"]' id='ycoor["+resp['a'][e].id+"]' required='required'></td><td><input type='text' value='"+resp['a'][e].answer+"' name='reason["+resp['a'][e].id+"]'></td><td><input type='radio' name='quiz["+quiz+"]' value='"+resp['a'][e].id+"' "+check+" ></td><td><a data-remote='true' onclick=remove_answer("+resp['a'][e].id+",'"+resp['loc2']+"',"+quiz+") href='"+resp['loc']+"' >Remove</a></td></tr> "
    	title="button"
    	reason=resp['a'][e].xcoor+", "+resp['a'][e].ycoor
    	top3= parseFloat(resp['a'][e].ycoor)-8;
    	left3= parseFloat(resp['a'][e].xcoor)-8;
    	html2+="<input rel='popover' class='pop' data-content=\""+reason+"\" id='button_"+resp['a'][e].id+"' type='radio' name='group1' value="+resp['a'][e].id+" style='position:absolute;top:"+top3+"px; left: "+left3+"px;'>"//could have type=number
    	
    }
    
    html+="</table><br><center> <input type='submit' value='Save'> </center></form>"
    document.getElementById("answer").innerHTML=html;
    document.getElementById("ontop").innerHTML=html2;
    $("[rel=popover]").popover({trigger: 'hover', template:  '<div class="popover myclass"><div class="arrow"></div><div class="popover-inner myclass"><div class="popover-content"><p></p></div></div></div>'});
    }
    else{
    //document.getElementById("table_new").appendChild()
    top3= parseFloat(top2)-8;
    left3= parseFloat(left)-8;
    reason=left+", "+top2
    $('#ontop').append("<input rel='popover' class='pop' data-content=\""+reason+"\" id='button_"+resp['current'].id+"' type='radio' name='group1' value="+resp['current'].id+" style='position:absolute;top:"+top3+"px; left: "+left3+"px;'>")//could have type=number)
    $('#table_new').append("<tr id='row_"+resp['current'].id+"'><td><input type='text' onchange='positionChanged("+resp['current'].id+")' style='width:30px' size='5' value='"+left+"' name='xcoor["+resp['current'].id+"]' id='xcoor["+resp['current'].id+"]' required='required' pattern='[0-9]*' title='Integers only'></td><td><input type='text' pattern='[0-9]*' title='Integers only' style='width:30px' onchange='positionChanged("+resp['current'].id+")' value='"+top2+"' name='ycoor["+resp['current'].id+"]' id='ycoor["+resp['current'].id+"]' required='required'></td><td><input type='text' value='"+resp['current'].answer+"' name='reason["+resp['current'].id+"]'></td><td><input type='radio' name='quiz["+quiz+"]' value='"+resp['current'].id+"' ></td><td><a data-remote='true' onclick=remove_answer("+resp['current'].id+",'"+resp['loc2']+"',"+quiz+") href='"+resp['loc']+"' >Remove</a></td></tr>")	
    $("[rel=popover]").popover({trigger: 'hover', template:  '<div class="popover myclass"><div class="arrow"></div><div class="popover-inner myclass"><div class="popover-content"><p></p></div></div></div>'
});
    }
});

};

positionChanged= function(id){
	x=document.getElementById("xcoor["+id+"]").value
	y=document.getElementById("ycoor["+id+"]").value
	reason=x+", "+y
	y=y-8
	x=x-8
	document.getElementById("button_"+id).style.top=y+"px";
	document.getElementById("button_"+id).style.left=x+"px";
	document.getElementById("button_"+id).attributes.getNamedItem('data-content').value=reason
}
remove_answer = function(answer,url, quiz) {
    //console.debug("time is "+pop.currentTime())
    $.getJSON(url,{"answer":answer , "quiz":quiz}, function(resp){
    
    // html="<form name='input' action='"+resp['save']+"' method='get'><table class='table table-striped'> <tr><th>X</th><th>Y</th><th>Explanation</th><th>Correct</th><th></th><th></th></tr>"
    // console.debug(resp['a'])
//     
    // for(e in resp['a'])
    // {
    	// if(resp['a'][e].correct == true)
    	// {
    		// check='checked'
    	// }else{
    		// check=''
    	// }
//     	
    	// html+="<tr><td><input type='text' style='width:30px' size='5' value='"+resp['a'][e].xcoor+"' name='xcoor["+resp['a'][e].id+"]'</td><td><input type='text' style='width:30px' value='"+resp['a'][e].ycoor+"' name='ycoor["+resp['a'][e].id+"]'</td><td><input type='text' value='"+resp['a'][e].answer+"' name='reason["+resp['a'][e].id+"]'></td><td><input type='radio' name='quiz["+quiz+"]' value='"+resp['a'][e].id+"' "+check+" ></td><td><a data-remote='true' onclick=remove_answer("+resp['a'][e].id+",'"+resp['loc2']+"',"+quiz+") href='"+resp['loc']+"' >Remove</a></td> "
//     	
//     	
    // }
//     
    // html+="</table><br><center> <input type='submit' value='Save'> </center></form>"
//     
    
    //document.getElementById("answer").innerHTML=html;
    $("tr#row_"+answer).remove();
    $("#button_"+answer).remove();
});

};


// create our popcorn instance
document.addEventListener( "DOMContentLoaded", function() {
	
pop = Popcorn.youtube( "#youtube", "<%=  @lecture.url %>",{ width: 400, controls: 0}); //youtube unlike normal html5 needs to be run from a webserver
//var pop = Popcorn( Popcorn.youtube( '#youtube', 'http://www.youtube.com/watch?v=H9BXF6xJy54', { width: 400, controls: 0 } ) );

pop.controls( false ); 
 
pop.on("loadeddata", function(){
	this.currentTime(<%= @quiz.time %>)
	this.pause;
	 console.debug("pop duration isss"+this.currentTime())  
	});                        

                          

}, false );


</script>
</div>
