<script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>

<% content_for :extra do %>
    <ul class="nav nav-pills">
    <li class=<%= (current_page?(course_path(@course)) ? 'active' : nil)  %>>
    <%= link_to "Course Information", course_path(@course)%>
    </li>
    <li class=<%= (current_page?(courseware_teacher_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Courseware", courseware_teacher_course_path(@course)%></li>
    <li class=<%= (current_page?(enrolled_students_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Enrolled Students", enrolled_students_course_path(@course)%></li>
    <li class=<%= (current_page?(progress_teacher_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Progress", progress_teacher_course_path(@course)%></li>
    </ul>
<% end %>
<div class="row">
<div class="span4">
<p>
  <b>Name:</b>
  <%= @lecture.name %>
</p>

<p>
  <b>Description:</b>
  <%= @lecture.description %>
</p>

<p>
  <b>Url:</b>
  <%= @lecture.url %>
</p>

<%= link_to 'Edit', edit_course_lecture_path([@course,@lecture]) %> |
<%= link_to 'Back', course_lectures_path(@course) %>



</div>

<div class="span8">
<center><div style="width:600px" >
<div id="youtube" style="width:600px;height:400px;"></div>
<div id="foo"></div>
</div></center>
</div>





<!-- Should move this somewhere else later -->

<script>
// create our popcorn instance
document.addEventListener( "DOMContentLoaded", function() {
	
var pop = Popcorn.youtube( "#youtube", "<%=  @lecture.url %>",{ width: 400, controls: 0}); //youtube unlike normal html5 needs to be run from a webserver
//var pop = Popcorn( Popcorn.youtube( '#youtube', 'http://www.youtube.com/watch?v=H9BXF6xJy54', { width: 400, controls: 0 } ) );

pop.controls( false );                          
pop.play();
                          
var slides = {1.2 : [4, 1, "This is my first question"],  //need to change cuepoint to understand this.
                          30.4 : [5, 3, "Here's another question"] }

                          
//for (key in slides) {
//    value = slides[key];
//    addSlide(key, value); // value is [4,1,"my first question"]
//    _results.push(this.events.call);
//}
 console.debug("pop duration isss"+pop.duration())                         
// listen to timeupdate
                          
//another way is to have them ordered by time. And start checking on the first, when done, remove, move to second.. so on.
// new video player

// pop.on("loadeddata", function(){
// console.debug("pop duration in loaded iss"+pop.duration())
       // console.debug("pop media isss "+pop.media);
// player = new VideoPlayer({
// media: pop.media,
// resized: true,
// callback: function(ctx) {
// var i, x, width = ctx.canvas.width - 12;
// if (!pop.duration()) {
// console.debug("will return")
// return;
// }
                         // console.debug("not returning")
// ctx.strokeStyle = '#303030';
// ctx.lineWidth = 2;
// ctx.lineCap = 'butt';
// ctx.beginPath();
// 
// for(key in slides)
// {
// 
// x = 6 + width * parseFloat(key) / pop.duration();
// ctx.moveTo(x, 6);
// ctx.lineTo(x, 18);
// 
// //console.debug
// ctx.stroke();
// 
// }
// }
// 
// });
       // });
                          
                          
pop.listen( "timeupdate", function() {
    console.log( this.currentTime() );
    
           for(key in slides) {
                
           if(this.currentTime()> parseFloat(key) && this.currentTime()< parseFloat(key)+0.3 && document.getElementById("foo").innerHTML=="" )
           {
           console.debug("more than 4 seconds");
           document.getElementById("foo").innerHTML = "<b style='background-color: white;'>HELLO!!!</b>";
            console.debug("pop duration isss"+pop.duration()) 
           pop.pause();
           // need timer here so don't pause twice!!
           
           }
           else
           {
           if (!this.paused()){
           document.getElementById("foo").innerHTML=""   
           }
           }

           
           }
       });

	
	
	
//    pop.footnote({
//        start: 1,
//        end: 15,
//        text: "Youtube working!",
//        target: "foo"
//    });
//    
//    pop.footnote({
//    "start": 3.988,
//    "end": 6.872,
//    "text": "Youtube working!",
//    "target": "foo",
//    //"target": "video-overlay",
//    //"src": "http://www.mozilla.org/img/covehead/firefox/brand-toolkit/identity-logo-firefox.png",
//    //"href": "http://www.mozilla.org/",
//    "width": 150,
//    "height": 150,
//    "top": 25,
//    "left": 75
//});
    
    // play video
//pop.play();
    
}, false );


</script>
</div>
