<%= render 'shared/head' %>

<p>
  <b>Name:</b>
  <%= @lecture.name %>
</p>

<p>
  <b>Description:</b>
  <%= @lecture.description %>
</p>

<p>
  <b>Url:</b>
  <%= @lecture.url %>
</p>

<p>
  <b>Appearance Time:</b>
  <%= @lecture.appearance_time %>
</p>

<p>
  <b>Module:</b>
  <%= link_to @lecture.group.name, course_group_path(@course,@lecture.group) %>
</p>

<%= link_to 'Edit', edit_course_lecture_path(@course,@lecture) %> |
<%= link_to 'Back', course_lectures_path(@course) %>
<br /><br />

