<script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
<style>
	.ontop{
		/*background:#fff;  /* invisible div*/
        position:absolute;
        min-width:600px;
        min-height:365px;
        z-index:99;
	}
</style>

<% content_for :extra do %>
    <ul class="nav nav-pills">
    <li class=<%= (current_page?(course_path(@course)) ? 'active' : nil)  %>>
    <%= link_to "Course Information", course_path(@course)%>
    </li>
    <li class=<%= (current_page?(courseware_teacher_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Courseware", courseware_teacher_course_path(@course)%></li>
    <li class=<%= (current_page?(enrolled_students_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Enrolled Students", enrolled_students_course_path(@course)%></li>
    <li class=<%= (current_page?(progress_teacher_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Progress", progress_teacher_course_path(@course)%></li>
    </ul>
<% end %>
<div class="row">
<div class="span4">
<p>
  <b>Name:</b>
  <%= @lecture.name %>
</p>

<p>
  <b>Description:</b>
  <%= @lecture.description %>
</p>

<p>
  <b>Url:</b>
  <%= @lecture.url %>
</p>

<%= link_to 'Edit', edit_course_lecture_path(@course,@lecture) %> |
<%= link_to 'Back', course_lectures_path(@course) %>

<br /><br />
<% if @s!="true"%>
<b>Choose place to insert quiz and click button below</b><br />
<%= link_to "Add Quiz", [@course,@lecture], :remote=> true, :onclick => "add_quiz(#{@lecture.id},'#{add_quiz_course_lecture_path(@course,@lecture)}')" %>
<br><br>
<div id="quizzes">
	
	<table class="table table-striped">
	<% i=1 %>
	<% @quizzes.each do |q|%>
	<tr>
		<td><%= i %></td>
		<td><%= Time.at(q.time).utc.strftime("%H:%M:%S") %></td>
		<td> <%= link_to "Remove", [@course,@lecture], :remote=> true, :onclick => "remove_quiz(#{q.id},'#{remove_quiz_course_lecture_path(@course,@lecture)}')" %> </td>
		<td> <%= link_to "Coordinates",  coordinates_course_lecture_path(@course,@lecture, :quiz => q.id) %></td>
		<% i+=1 %>
		
	</tr>
	<% end %>
	</table>
	
	
</div>

<div id="pos" style="position:absolute"></div>
<% end %>
</div>


<div class="span8">
	

<center>
<% if @s=="true" %>
<%= link_to 'Go To Teacher View', course_lecture_path(@course,@lecture) %><br>
<% else %>
<%= link_to 'Go To Student View', course_lecture_path(@course,@lecture,:s=>true) %><br>
<% end %>	
	

<div style="width:600px" >
<div class="ontop" id="ontop"></div>
<div id="youtube" style="width:600px;height:400px;"></div><br />
<div id="foo"></div><br />	
</div></center>
</div>



<script language="JavaScript" type="text/JavaScript">


function formatSecondsAsTime(secs, format) {
  var hr  = Math.floor(secs / 3600);
  var min = Math.floor((secs - (hr * 3600))/60);
  var sec = Math.floor(secs - (hr * 3600) -  (min * 60));

  if (hr < 10)   { hr    = "0" + hr; }
  if (min < 10) { min = "0" + min; }
  if (sec < 10)  { sec  = "0" + sec; }
  if (hr)            { hr   = "00"; }

  if (format != null) {
    var formatted_time = format.replace('hh', hr);
    formatted_time = formatted_time.replace('h', hr*1+""); // check for single hour formatting
    formatted_time = formatted_time.replace('mm', min);
    formatted_time = formatted_time.replace('m', min*1+""); // check for single minute formatting
    formatted_time = formatted_time.replace('ss', sec);
    formatted_time = formatted_time.replace('s', sec*1+""); // check for single second formatting
    return formatted_time;
  } else {
    return hr + ':' + min + ':' + sec;
  }
}


function skip_to(time)
{
	if (pop.currentTime()-0.5 < 0)
	{
		pop.currentTime(time-0.1);
	}
	else
	{
		pop.currentTime(time-0.5);
	}
	
	//pop.play();	
}



$(document).ready(function() {
  $('.ontop').click(function(e) {
    var offset = $(this).offset();
  	left= parseFloat(e.pageX) - parseFloat(offset.left) //not clientX because client depends on window.. so numbers change when scrolling.
  	right = parseFloat(e.pageY) - parseFloat(offset.top)
  	
  	console.debug("offset is "+ left)
  	
    //document.getElementById('pos').innerHTML = 'Mouse position is: X='+left+' Y='+right;
	//document.getElementById('pos').style.left = left;
	//document.getElementById('pos').style.top = right;
	//document.getElementById('pos').style.display='block';
  });
});


/* function checkS(e){
// capture the mouse position

var t=e.srcElement.tagName

var posx = 0;
var posy = 0;
if (!e) var e = window.event;
if (e.pageX || e.pageY)
{
posx = e.pageX;
posy = e.pageY;
}
else if (e.clientX || e.clientY)
{
posx = e.clientX;
posy = e.clientY;
}
 
document.getElementById('pos').innerHTML = 'Mouse position is: X='+posx+' Y='+posy;
document.getElementById('pos').style.left = posx;
document.getElementById('pos').style.top = posy;
document.getElementById('pos').style.display='block';
}*/
</script>
 



<!-- Should move this somewhere else later -->

<script>

var pop

//function add_quiz(lecture){
	
//}
add_quiz = function(lecture,url) {
    console.debug("time is "+pop.currentTime())
    $.getJSON(url,{"lecture":lecture, "time":pop.currentTime()}, function(resp){
    html="<table class='table table-striped'>"
    console.debug(resp['q'])
    
    for(e in resp['q'])
    {
    	count=parseFloat(e)+1
    	html+="<tr><td>"+count+"</td><td>"+formatSecondsAsTime(resp['q'][e].time)+"</td><td><a data-remote='true' onclick=remove_quiz("+resp['q'][e].id+",'"+resp['loc2']+"') href='"+resp['loc']+"' >Remove</a></td> "
    	html+="<td><a href='"+resp['loc3']+"?quiz="+resp['q'][e].id+"'>Coordinates</a></td></tr>"
    	
    }
    
    html+="</table>"
    document.getElementById("quizzes").innerHTML=html;
});

};


remove_quiz = function(quiz,url) {
    //console.debug("time is "+pop.currentTime())
    $.getJSON(url,{"quiz":quiz }, function(resp){
    html="<table class='table table-striped'>"
    console.debug(resp['q'])
    
    for(e in resp['q'])
    {
    	count=parseFloat(e)+1
    	html+="<tr><td>"+count+"</td><td>"+formatSecondsAsTime(resp['q'][e].time)+"</td><td><a data-remote='true' onclick=remove_quiz("+resp['q'][e].id+",'"+resp['loc2']+"') href='"+resp['loc']+"' >Remove</a></td> "
    	html+="<td><a href='"+resp['loc3']+"?quiz="+resp['q'][e].id+"'>Coordinates</a></td></tr>"
    }
    html+="</table>"
    document.getElementById("quizzes").innerHTML=html;
});

};


// create our popcorn instance
document.addEventListener( "DOMContentLoaded", function() {
	
pop = Popcorn.youtube( "#youtube", "<%=  @lecture.url %>",{ width: 400, controls: 0}); //youtube unlike normal html5 needs to be run from a webserver
//var pop = Popcorn( Popcorn.youtube( '#youtube', 'http://www.youtube.com/watch?v=H9BXF6xJy54', { width: 400, controls: 0 } ) );

pop.controls( false );                          
pop.play();

var last=0;
var flag=0;
                          
var slides = {1.2 : [4, 1, "This is my first question"],  //need to change cuepoint to understand this.
                          30.4 : [5, 3, "Here's another question"] }

                          
//for (key in slides) {
//    value = slides[key];
//    addSlide(key, value); // value is [4,1,"my first question"]
//    _results.push(this.events.call);
//}
 console.debug("pop duration isss"+pop.duration())         

student= <%= @s %>
//console.debug("student isss "+student)
skip="Skip to "


if (student==true){
data= <%= raw @lecture.online_quizzes.to_json %>;   // important how to convert rails array of objects to JS array of objects
   
   for(element in data) {
      
      skip+="<button onclick='skip_to("+data[element].time+")'>Q"+element+" - "+formatSecondsAsTime(data[element].time)+"</button>"
      
           }

document.getElementById("foo").innerHTML=skip
console.debug("inside student is true")
}            
// listen to timeupdate
                          
//another way is to have them ordered by time. And start checking on the first, when done, remove, move to second.. so on.
// new video player

// pop.on("loadeddata", function(){
// console.debug("pop duration in loaded iss"+pop.duration())
       // console.debug("pop media isss "+pop.media);
// player = new VideoPlayer({
// media: pop.media,
// resized: true,
// callback: function(ctx) {
// var i, x, width = ctx.canvas.width - 12;
// if (!pop.duration()) {
// console.debug("will return")
// return;
// }
                         // console.debug("not returning")
// ctx.strokeStyle = '#303030';
// ctx.lineWidth = 2;
// ctx.lineCap = 'butt';
// ctx.beginPath();
// 
// for(key in slides)
// {
// 
// x = 6 + width * parseFloat(key) / pop.duration();
// ctx.moveTo(x, 6);
// ctx.lineTo(x, 18);
// 
// //console.debug
// ctx.stroke();
// 
// }
// }
// 
// });
       // });
                          
                          
// pop.listen( "timeupdate", function() {
    // console.log( this.currentTime() );
//     
           // for(key in slides) {
//                 
           // if(this.currentTime()> parseFloat(key) && this.currentTime()< parseFloat(key)+0.3 && document.getElementById("foo").innerHTML=="" )
           // {
           // console.debug("more than 4 seconds");
           // document.getElementById("foo").innerHTML = "<b style='background-color: white;'>HELLO!!!</b>";
            // console.debug("pop duration isss"+pop.duration()) 
           // pop.pause();
           // // need timer here so don't pause twice!!
//            
           // }
           // else
           // {
           // if (!this.paused()){
           // document.getElementById("foo").innerHTML=""   
           // }
           // }
// 
//            
           // }
       // });

	
	
	
//    pop.footnote({
//        start: 1,
//        end: 15,
//        text: "Youtube working!",
//        target: "foo"
//    });
//    
//    pop.footnote({
//    "start": 3.988,
//    "end": 6.872,
//    "text": "Youtube working!",
//    "target": "foo",
//    //"target": "video-overlay",
//    //"src": "http://www.mozilla.org/img/covehead/firefox/brand-toolkit/identity-logo-firefox.png",
//    //"href": "http://www.mozilla.org/",
//    "width": 150,
//    "height": 150,
//    "top": 25,
//    "left": 75
//});
    
    // play video
//pop.play();

if(student==true)
{
	pop.listen( "timeupdate", function() {
    //console.log( this.currentTime() );
    a= <%= raw @lecture.online_quizzes.to_json %>;   // important how to convert rails array of objects to JS array of objects
    //console.debug(a)
    //console.debug(a[0])
           for(key in a) {
          //console.debug("online quiz time isss "+a[key].time)
          //console.debug("flag isss "+flag)
           if(this.currentTime()> parseFloat(a[key].time) && this.currentTime()< parseFloat(a[key].time)+0.5 &&  flag==0 )
           {
           //console.debug("more than 4 seconds");
          // document.getElementById("foo").innerHTML = "<b style='background-color: white;'>HELLO!!!</b>";
          //  console.debug("pop duration isss"+pop.duration()) 
           pop.pause();
           flag=1;
           last=parseFloat(a[key].time)
           
           // now i want to get the answers
            $.getJSON("<%= @url %>",{"quiz":a[key].id }, function(resp){
    			//console.debug(resp)
    			html=""
    			for(answer in resp) {
           			top3= parseFloat(resp[answer].ycoor)-5;
           			left= parseFloat(resp[answer].xcoor)-8;
           			console.debug( "x: "+top3+" y:"+left)
           			html+="<button style='position:absolute; width: 3px; height: 5px; border: 1px solid #006; background: #9cf; top:"+top3+"px; left: "+left+"px;'></button>"
           			document.getElementById("ontop").innerHTML=html;
           			// absolute therefore xpos relative to parent div. i.e. xpos min awel el video.
    		}
    		});
           
           // need timer here so don't pause twice!!
           
           }
           else
           {
           //	console.debug("last issss "+last)
           	if(this.currentTime() > last + 1.0 || (this.currentTime() < last) )   // 1 second from both directions so don't stop after playing.
           	{
           		flag=0;
           	} 
           	
           	
           if (!this.paused()){
           //document.getElementById("foo").innerHTML=""   
           document.getElementById("ontop").innerHTML=""
           }
           }

           
           }
       });

}
    
}, false );


</script>
</div>
