<style>
.control-group{
	margin-bottom:5px !important;
	font-size: 12px;
}
.remove_nested_fields{
	float:right;
	font-size:12px;
}
.add_nested_fields{
	font-size: 12px;
}

label{
	font-size:12px;
}
.text{
	font-size: 12px;
}
.string{
	font-size:12px !important;
}
</style>
<center><h3><%= @quiz.name %></h3></center>
<div id="notify"></div>

<%= simple_nested_form_for([@course,@quiz], :url => {:action => :update_questions}, :html => { :class => 'form-horizontal' }, :remote=> true)  do |f| %>
  <%= f.error_notification %>
 
	
	<%= f.fields_for :questions do |task_form| %>
  	<%= task_form.input :content, :label => "Question", :input_html => {:style => 'width: 250px; height: 50px'} %>
  	<% if @quiz.quiz_type == "survey" %>
  		<%= task_form.input :question_type,  collection: ["Multiple Choice Question","Free Text Question"], :include_blank => false, :input_html => {:class => "type"} %>
  	<% end %>
  	
  	
  	<%= task_form.link_to_remove "Remove Question", :style => "margin-top:-20px" %>
	<!-- <%= task_form.full_error :content %> -->	
  		<%= task_form.fields_for :answers ,:html =>{:class=>"abc"} do |t| %>
  		<!-- <p style="background-color: #eeffff; margin-left: 40px; width: 400px">  <!-- style this better with css --> 
  		<% if @quiz.quiz_type!="survey" %> 
  		<%= t.input :content ,:label => "Answer", :label_html =>{:style => 'margin-left: 30px;margin-bottom:-50px' },:input_html => {:style => 'margin-left: 40px; width: 250px; height: 50px;margin-bottom:-50px'} %>
  		<%= t.input :correct ,:label => "Correct?", :label_html =>{:style => 'margin-left: 40px;' }, :input_html => {:style => 'margin-left: 5px;margin-top:9px'} %><br>
  		<% else %>
  		<%= t.input :content ,:label => "Answer", :label_html =>{:style => 'margin-left: 30px;margin-bottom:10px' },:input_html => {:style => 'margin-left: 40px; width: 250px; height: 50px;margin-bottom:10px'} %>
  		<% end %>
  		<%= t.link_to_remove "Remove Answer", :style=>"margin-top:-30px;" %>
  		<!-- </p> -->
  		<% end %>
  		
  		<p><%= task_form.link_to_add "Add Answer", :answers %></p>
  		
	<% end %>
	
	<p><%= f.link_to_add "Add Question", :questions %></p>

	
  <div class="form-actions">
    <%= f.button :submit, 'Save' %>
  </div>
<% end %>


<script>
	$(document).ready(function(){
	//	window.nestedFormEvents.insertFields = function(content, assoc, link) {
	//		console.log(content);
  	//		return $(link).closest('form').find(assoc + '_fields').append($(content));
	//	}


	// so now upto saving.. all good
	// when saving.
	// if free question, then delete all its answers (if already existed)!!!!!
	// Test again!



	$(".type").each(function(){
	if($(this).val()=="Free Text Question")
	{
		//$(this).closest(".fields").children("p").children(".fields").remove();
	    $(this).closest(".fields").children("p").hide();
	    $(this).closest(".fields").children(".fields").hide();
	    //$(this).closest(".fields").children(".fields").hide();
	}
	});
	
	$(".type").change(function(event){
		if($(this).val()== "Free Text Question"){
			//$(this).closest(".fields").children("p").children(".fields").remove();
			$(this).closest(".fields").children("p").hide();
			$(this).closest(".fields").children(".fields").hide();
		}else{
			$(this).closest(".fields").children("p").show();
			$(this).closest(".fields").children(".fields").show();
			}
	});
	
	$(document).on("nested:fieldAdded:questions", function(event){
		$(".type").unbind();
		//console.log("in here question");
		$(".type").change(function(event){
		if($(this).val()== "Free Text Question"){
			//$(this).closest(".fields").children("p").children(".fields").remove();
			$(this).closest(".fields").children("p").hide();
			$(this).closest(".fields").children(".fields").hide();
		}else{
			$(this).closest(".fields").children("p").show();
			$(this).closest(".fields").children(".fields").hide();
			}
		});
	
	});
	
	
	$(document).on('nested:fieldAdded:answers', function(event){
	  // this field was just inserted into your form
	  var field = event.field; 
	  //console.log(field)
	  // it's a jQuery object already! Now you can find date input
	  //var dateField = field.find('.date');
	  // and activate datepicker on it
	  //dateField.datepicker();
//	  var newO=document.createElement('input');
//newO.setAttribute('type','password');
//newO.setAttribute('name',obj.getAttribute('name'));
//obj.parentNode.replaceChild(newO,obj);
//newO.focus();
	// var select=$(field).parents('.fields').children(".select").children(".controls").children("select").val()
	// if(select=="Single Correct Answer")
	// {
	// var checkbox= $(field).children(".boolean").children(".controls").children(".checkbox").children()[0]
	// var radio = document.createElement('input');
	// radio.setAttribute('type','radio');
	// radio.setAttribute('id', checkbox.getAttribute("id"));
	// radio.setAttribute('class', checkbox.getAttribute("class"));
	// radio.setAttribute('value', checkbox.getAttribute("value"));
	// radio.setAttribute('style', checkbox.getAttribute("style"));
	// radio.setAttribute('name', checkbox.getAttribute("name"));
	// checkbox.parentNode.replaceChild(radio,checkbox);
	// }
	// })
	
	// radio buttons all selected bardo :s cause different name..
	
	});
	
	});
</script>