<center>
<h3><%= group2.name %></h3>
<table class="table table-striped table-bordered" style="width:90%;font-size:12px;text-align: center">
<tr>
<td>Total Time:</td><td> <%= group2.total_time %></td>
</tr>
<tr>
<td>Total number of Lecture Questions: </td><td><%= group2.total_questions %></td>
</tr>
<tr>
<td>Total number of Quiz Questions:</td><td><%= group2.total_quiz_questions %></td>
</tr>
</table>
</center>

<br />
<br />
<center><div id='documents' style="width:80%"><%= render "documents", :group => group2 %></div></center>
