<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
<script src="http://www.youtube.com/iframe_api" type="text/javascript"></script>
  
  <script>
  var current_lecture=0;
  var current_quiz=0;
  var num_of_lectures= <%= @num_lectures %>
  var num_of_quizzes= <%= @num_quizzes %>
  var player;
  var done = false;
  var first_quiz;
  $(document).ready(function() {
		play=0;
		setup_play();
		setup_mute();
  });
  
  setup_play = function()
  {
  	$("#play-me").click(function(event){
  		if($(this).hasClass("pause"))
  		{
  			$(this).removeClass("pause");
  			player.pauseVideo();
  			play=0;
  		}
  		else{
  			$(this).addClass("pause");
  			play=1;
  			player.playVideo();
  		}
  	});
  }
  
  setup_mute= function()
  {
  	$("#mute-me").click(function(event){
  		if($(this).hasClass("mute"))
  		{
  			$(this).removeClass("mute")
  			player.mute();
  		}
  		else{
  			$(this).addClass("mute")
  			player.unMute();
  		}
  	});
  }
  
  window.onresize=function resizeit(){

	h=$("#resizable").height();
	
	setup_screens();
	setup_buttons(h);
	
	
};
setup_button_width= function()
{
	$("#minus_3").width($("#previous").width());
	$("#plus_3").width($("#previous").width());
	$("#next").width($("#previous").width());
}

setup_screens = function()
{
	h=$("#resizable").height();
	width = h*16.0/9.0;
	wbig=$("#big_div").width();
	if(width!=$("#resizable").width())
	{
		$("#resizable").width(width)
		remaining= wbig-width;
		$("#left").width(remaining/2.0 - 30)
		$("#right").width(remaining/2.0 - 30)
	}
	
	if($("#resizable").width() + 260 > $("#top").width()) // does not maintain 16:9 aspect ratio anymore.
	{
		$("#resizable").width(wbig-260)
		$("#left").width(100)
		$("#right").width(100)
	}
	
	player.setSize($("#resizable").width(), $("#resizable").height());
}
setup_buttons = function(h)
{
	//left
	new_minus_position= h/2.0 - 30;
	$("#minus_3").css("margin-top",new_minus_position+"px");
	
	new_previous_position= 10;
	$("#previous").css("margin-top",new_previous_position+"px");
	
	new_minus_position= $("#left").width()/2.0 - 35; 
	$("#minus_3").css("margin-left",new_minus_position+"px");
	
	new_previous_position= $("#left").width()/2.0 -35; 
	$("#previous").css("margin-left",new_previous_position+"px");
	
	//right
	new_minus_position= h/2.0 - 30;
	$("#plus_3").css("margin-top",new_minus_position+"px");
	
	new_previous_position= 10;
	$("#next").css("margin-top",new_previous_position+"px");
	
	new_minus_position= $("#right").width()/2.0 - 35; 
	$("#plus_3").css("margin-left",new_minus_position+"px");
	
	new_previous_position= $("#right").width()/2.0 -35; 
	$("#next").css("margin-left",new_previous_position+"px");
	
}



function onYouTubeIframeAPIReady() {
	lectures= <%= raw @lecture_list.to_json %>
	console.log(lectures)
	display=<%= raw @display_data.to_json %>
	var first_lecture="";
	for(var elem in lectures)
	{
		url=lectures[elem]
			if(display[url].length!=0)
			{
				first_lecture= url
				first_quiz= display[url][0][0] // first quiz . first parameter
				current_lecture= parseInt(elem)+1;
				current_quiz= parseInt(display[url][0][1]); //first quiz . second parameter
				setup_questions(display[url][0][2]);
				setup_position_text(); // setting text in top left corner.
				break; 
			}
		
	}
	if(first_lecture!="")
		{
	   var v=first_lecture.split("=")[1].split("&")[0]
      	console.log("in here");
        player = new YT.Player('resizable', {
          //height: '390',
          //width: '640',
          videoId: v,
          playerVars: {"showinfo":0,"modestbranding":0,'autoplay': 1, 'controls': 0},//showinfo:0
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });


	h=$("#resizable").height();	
	
	setup_screens();
	setup_buttons(h)
	setup_button_width();
	//setup_video();
	setup_video2();
	setup_actions();
	}
	else{
		setup_alert();
	}

}

function setup_alert()
{
	$("#big_div").html("<center>There are no questions.</center>")
}

function onPlayerReady(event) {
        //event.target.playVideo();
        console.log(first_quiz)
        event.target.seekTo(first_quiz);
        console.log(event.target.getCurrentTime());
        player.mute();
        
 }    
function onPlayerStateChange(){
	console.log("here "+player.getPlayerState());
	if(player.getPlayerState()==1  && play==0)
	{
		console.log("here in playing")
		player.pauseVideo();
	}
}

setup_video2=function()
{
  
      
}

setup_questions = function(list)
{
	text="<table style='height:100%;width:99%;overflow:auto'>"
	for(var i=0; i<list.length; i++)
	{
		text+= "<tr><td style='padding-left:15px;cursor:pointer' onclick='player.seekTo("+list[i][1]+")'>"+list[i][0]+"</td></tr>"
	}
	text+="</table>"
	$("#the_question").html(text);
}
 

function stopVideo() {
   player.stopVideo();
}

setup_position_text = function()
{
	$("#q_num").html("Q:"+current_quiz+"/"+num_of_quizzes);
	$("#lec_num").html("L:"+current_lecture+"/"+num_of_lectures);
}

get_next_quiz = function()
{
	var done=0;
	old_lecture=current_lecture;
	lectures= <%= raw @lecture_list.to_json %>
	display=<%= raw @display_data.to_json %>
	
	lec= current_lecture - 1;
	q= current_quiz;
	
	for(var elem in lectures)
	{
		if(elem<lec)
			continue;
			url=lectures[elem]
			if(display[url].length!=0)
			{
				lec_quizzes= display[url]
				for(elem2 in lec_quizzes)
				{
					quiz=lec_quizzes[elem2]
					console.log(quiz)
					console.log("current quiz is "+current_quiz);
					if(quiz[1]<= current_quiz)
						{continue;}
					else{
						first_lecture= url
						first_quiz= quiz[0] // first quiz . first parameter
						current_lecture= parseInt(elem)+1;
						current_quiz= parseInt(quiz[1]); //first quiz . second parameter
						setup_questions(quiz[2]);
						setup_position_text(); // setting text in top left corner.
						done=1;
						break;
					}
						
				}
				
			}
		if(done==1)
			break;
	}
	
	// will pause again.
	play=0;
	$("#play-me").removeClass("pause");
  	player.pauseVideo();
  	
	if(old_lecture!=current_lecture)
	{
	
		var v=first_lecture.split("=")[1].split("&")[0]
      	console.log("in here");
        player.loadVideoById(v);
		player.seekTo(first_quiz);
		player.playVideo();
	}
	else{
		
		player.seekTo(first_quiz);
		player.playVideo();
		 
	}
	
}

get_previous_quiz = function()
{
	var done=0;
	old_lecture=current_lecture;
	lectures= <%= raw @lecture_list.to_json %>
	display=<%= raw @display_data.to_json %>
	
	lec= current_lecture - 1;
	q= current_quiz;
	
	if(current_quiz== 1)
		return;
	
	for(var i=lectures.length-1; i>=0; i--)
	{
		if(i>lec)
			continue;
			url=lectures[i]
			if(display[url].length!=0)
			{
				lec_quizzes= display[url]
				for(var j=lec_quizzes.length-1; j>=0; j--)
				{
					quiz=lec_quizzes[j]
					console.log(quiz);
					if(quiz[1]>= current_quiz)
						{continue;}
					else{
						first_lecture= url
						first_quiz= quiz[0] // first quiz . first parameter
						current_lecture= parseInt(i)+1;
						current_quiz= parseInt(quiz[1]); //first quiz . second parameter
						setup_questions(quiz[2]);
						setup_position_text(); // setting text in top left corner.
						done=1
						break;
					}
						
				}
				
			}
			if(done==1)
			break;
		
	}
	
	// will pause again.
	play=0;
	$("#play-me").removeClass("pause");
  	player.pauseVideo();
  	
	if(old_lecture!=current_lecture)
	{
		var v=first_lecture.split("=")[1].split("&")[0]
      	console.log("in here");
        player.loadVideoById(v);
		player.seekTo(first_quiz);
		player.playVideo();
	}
	else{
		
		player.seekTo(first_quiz);
		player.playVideo();
		 
	}
	
	
	
	
}


setup_actions= function()
{
$("#plus_3").click(function(event){
	//pop.currentTime(pop.currentTime()+3);
	console.log(player);
	player.seekTo(player.getCurrentTime()+3);
	player.playVideo();
	console.log(player.getCurrentTime());
});
$("#minus_3").click(function(event){
	//pop.currentTime(pop.currentTime()-3);
	player.seekTo(player.getCurrentTime()-3);
	player.playVideo();
});
$("#next").click(function(event){
	if(current_quiz== num_of_quizzes)
	{
		console.log("current is "+current_quiz)
		return;
	}
	get_next_quiz();
});
$("#previous").click(function(event){
	if(current_quiz== 1)
		return;
	get_previous_quiz();
});
}

 </script>
  <style>
  	#q_num, #lec_num{
  		font-size: 16px;
  	}
  </style> 




<div id="big_div" style="width:100%;height:100%; background-color:white">
<div id="mute-me"></div>
<div id="play-me"></div>
<div style="display: block; height: 60%; width: 100%;" id="top"><div id="left" style="height: 100%; min-width: 50px; display: inline-block;vertical-align: top;"><%= link_to "-3", "", :remote => true, :class => "btn btn-primary", :id => "minus_3" %><%= link_to "<<", "", :remote => true, :class => "btn btn-primary", :id => "previous" %></div><div id="resizable" style="margin-top: 0px; height: 100%; background-color: gray; width: 428.444px; display: inline-block;"></div><div id="right" style="height: 100%; min-width: 50px; display: inline-block;vertical-align: top;"><%= link_to "+3", "", :remote => true, :class => "btn btn-primary", :id => "plus_3" %><%= link_to ">>", "", :remote => true, :class => "btn btn-primary", :id => "next" %></div></div>
<div id="below" style="display:block;width:100%;height:40%;background-color:white;">
	<div id="the_question2" style="position:absolute;padding-left:10px;display:inline;font-size:28px;margin-top:0px;line-height:30px;height:40%;width:100%;">
		<div id="the_question" style="overflow:auto;display:inline;font-size:20px;margin-top:10px;line-height:30px;height:70%;width:98%;position:absolute"></div>
		<%= link_to "Exit", progress_teacher_course_path(@course, :g => @group.id, :type => "modules") , :style => "display:inline;font-size:16px;position:absolute;bottom:0;left:0"%>
		<div id="pos" style="display:inline;position:absolute;bottom:0;margin-left:5px;"><b style="padding-left:15px;" id="q_num"></b><b style="padding-left:5px;" id="lec_num"></b></div>
	</div>
</div>
</div>