<script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
<%= render "shared/head" %>

<h4><%= link_to "#{@course.short_name} - #{@course.name}", course_editor_course_path(@course) %>:<%= @group.name %></h4>
<div class="row">
<div id="grouptable" class="span6">


<%= render "group" %>

<hr />
<!-- <%= link_to "New Module", new_course_group_path(@course), :style => "float:right"%> -->
</div>


<div class="span6" id="videospan" >
	<% if @quiz %>
		<center><%= render "coordinates"%></center>
	<% elsif @lecture %>  
		<center><%= render "lecture"%></center>
	 <% end %> 
</div>

</div>
