<style>
	.content{
		background-color: transparent;
		background-image: none;
		box-shadow: none;
	}
</style>
<div class="span6 offset3 well">
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
  <div class="control-group">
  <div class="controls">
  	<h3>Change your Password</h3>
  </div>
  </div>
  <%= f.error_notification %>
  
  <%= f.hidden_field :reset_password_token %>

  <%= f.input :password, :label => "New password" %>
  <%= f.input :password_confirmation, :label => "Confirm new password" %>
  

   <div class="control-group">
  	<div class="controls">
  <%= f.button :submit, 'Change my password', :class => 'btn-primary' %>
  </div>
  </div>
  
  <div class="control-group">
  	<div class="controls">
  		<%= render "devise/shared/links" %>
  	</div>
  </div>
<% end %>