<style>
	.content{
		background-color: transparent;
		background-image: none;
		box-shadow: none;
	}
</style>
<div class="span6 offset3 well">
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
  <div class="control-group">
  <div class="controls">
  	<h3>Forgot your Password?</h3>
  </div>
  </div>
  <%= f.error_notification %>
	<%= f.input :email, :autofocus => true %>

  <div class="control-group">
  	<div class="controls">
  <%= f.button :submit, 'Send me Reset Password Instructions', :class => 'btn-primary' %>
  </div>
  </div>
  
  <div class="control-group">
  	<div class="controls">
  		<%= render "devise/shared/links" %>
  	</div>
  </div>
<% end %>