<% content_for :extra do %>
    <ul class="nav nav-pills">
    <li class=<%= (current_page?(course_path(@course)) ? 'active' : nil)  %>>
    <%= link_to "Course Information", course_path(@course)%>
    </li>
    <!-- <li class=<%= (current_page?(courseware_teacher_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Courseware", courseware_teacher_course_path(@course)%></li> -->
    
     <li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Courseware<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<%= link_to "Modules" , course_groups_path(@course) %><br>
			<%= link_to "Lectures" , course_lectures_path(@course) %><br>
			<%= link_to "Quizzes" , course_quizzes_path(@course) %> 
		</ul>
	</li>
    
    
    <li class=<%= (current_page?(enrolled_students_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Enrolled Students", enrolled_students_course_path(@course)%></li>
    <li class=<%= (current_page?(progress_teacher_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Progress", progress_teacher_course_path(@course)%></li>
    </ul>
<% end %>