<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= render "shared/head2"%>
<!-- caching works but im scared.-->
<% #cache :hash => {:tag => Event.where(:course_id => @course.id).maximum('updated_at').to_i, :num => Event.where(:course_id => @course.id).count, :num_ann => Announcement.where(:course_id => @course.id).count, :ann => Announcement.where(:course_id => @course.id).maximum('updated_at').to_i}, :year => params[:year]||Time.zone.now.year, :month => params[:month]||Time.zone.now.month do %>
<%= stylesheet_link_tag "event_calendar" %>

<div class="row">
<div class="span10 offset1">

<%= raw(event_calendar) %>
<br />
<div class="alert"><center style="font-size:14px;font-weight: bold">All deadlines are at midnight on the day specified</center></div>
<table>
	<tr><td style="background-color:green;width:20px;"></td><td>Done</td></tr>
	<tr><td style="background-color:orange;width:20px;"></td><td>Not done</td></tr>
	<tr><td style="background-color:red;width:20px;"></td><td>Not done and due in less than 2 days</td></tr>
</table>
<br>
<table class="table table-striped">
<thead>
	<th>Announcements</th><th></th><th></th>
</thead>
<% @announcements.order(:updated_at).each do |a| %>
<tr>
	<td><%= a.announcement %></td>
	<td><%= a.updated_at %></td>
	<td><%= a.user.name %></td>
</tr>	 
<% end %>

</table>

</div>
</div>

<% #end %>

<script>
	$(document).ready(function(){
		var colors= <%= raw @colors %>
		for(key in colors)
		{
			$("."+key).css("background-color",colors[key])
		}
	});
</script>
