<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= render "shared/head2"%>
<% cache :hash => {:tag => Event.where(:course_id => @course.id).maximum('updated_at').to_i, :num => Event.where(:course_id => @course.id).count, :num_ann => Announcement.where(:course_id => @course.id).count, :ann => Announcement.where(:course_id => @course.id).maximum('updated_at').to_i} do %>
<%= stylesheet_link_tag "event_calendar" %>

<div class="row">
<div class="span10 offset1">

<%= raw(event_calendar) %>
<br />
<table class="table table-striped">
<thead>
	<th>Announcements</th><th></th><th></th>
</thead>
<% @announcements.each do |a| %>
<tr>
	<td><%= a.announcement %></td>
	<td><%= a.date %></td>
	<td><%= a.user.name %></td>
</tr>	 
<% end %>

</table>

</div>
</div>

<% end %>
