<% if can? :create, Answer %>

<td width="100%">
  <p>Answer <%= answer_counter + 1%>:
  <%= answer.content %> <b style="color: green"> <%= answer.correct %></b></p><br />
</td>

<% else %> 

<tr>
<td><%= image_tag "spacer.gif", :height => "1px" , :width=>"1px"%></td>
<td><%= check_box_tag "answer[#{question.id}][#{answer.id}]", 1, (!@out.nil? and !@out[question.id].nil? and @out[question.id].include?answer.id) ? true: false %> <%= answer.content%></td>
<td></td>
</tr>

<% end %>


