<% content_for :extra do %>
    <ul class="nav nav-pills">
    <li class=<%= (current_page?(course_path(@course)) ? 'active' : nil)  %>>
    <%= link_to "Course Information", course_path(@course)%>
    </li>
    <li class=<%= (current_page?(courseware_teacher_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Courseware", courseware_teacher_course_path(@course)%></li>
    <li class=<%= (current_page?(enrolled_students_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Enrolled Students", enrolled_students_course_path(@course)%></li>
    <li class=<%= (current_page?(progress_teacher_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Progress", progress_teacher_course_path(@course)%></li>
    </ul>
<% end %>

<div class="span6">

	  <!-- This is obtrusive javascript-->

<%= link_to "Students Enrolled", course_path(@course) , :onclick => "$('#invited_students').toggle()", :remote => true,  :id=>"show_now" %>
<div id="invited_students", width="100%", style="display: none; overflow: auto">
	<table width="100%"><%= render :partial => "student", :collection => @students , :locals=> {:remove=> true} %></table>
</div>
<br />
<%= link_to "Invite students?", course_path(@course) , :onclick => "$('#show_students').toggle()", :remote => true,  :id=>"show_now" %>
<div id="show_students", width="100%", style="display: none; overflow: auto">
	<table height="100px", width="100%"><%= render :partial => "student", :collection => @students , :locals=> {:remove=> false} %></table>

</div>
</div>



<script>
$(document).ready(function(){   // should put this somewhere elsee..
    
	
	//document.getElementById(b).parentNode.parentNode.style.display ="none";

var data =<%= @student_ids %>;
var data2=<%= @student_ids2 %>;
console.debug("i isssss "+data)

for(i=0; i<data.length; i++){
b= "studentsin_"+data[i]
document.getElementById(b).parentNode.parentNode.style.display ="none";
}

for(i=0; i<data2.length; i++){

b= "students["+data2[i]+"]"
console.debug(b)
document.getElementById(b).parentNode.parentNode.style.display ="none";
}

});
</script>

