<script type="text/javascript">
<!--//--><![CDATA[//><!--
$("html").addClass("js");
$.fn.accordion.defaults.container = false; 

$(function() {
	$.fn.accordion.defaults.initShow='<%= "##{@type}" if @type %>';
  $("#acc1").accordion({
      el: ".h", 
      head: "h5, h6", 
      next: "div", 
      //initShow : "div.outer:eq(0)"
  });
  $("html").removeClass("js");
});
//--><!]]>
</script>
<!--<![endif]-->

<script>


//for dragging
$(document).ready(function(){

	
//$('.fields').children("li").each(if($(this).hasClass("item_row")){console.debug $(this)})
//updateIDs()
	
$('#acc1').sortable({
axis: 'y',
dropOnEmpty: false,
handle: '.handle',
cursor: 'crosshair',
items: 'li.modules',
opacity: 0.4,
scroll: true,
update: function(){
console.log(this)
$.ajax({
type: 'post',
data: $('#acc1').sortable('serialize'),
dataType: 'script',
complete: function(request){
$('#acc1').effect('highlight');
},
url: '/courses/<%= @course.id %>/groups/sort'})
}
});



$('ul.items').sortable({
axis: 'y',
dropOnEmpty: false,
handle: '.handle2',
cursor: 'crosshair',
items: 'li.last-child',
opacity: 0.4,
scroll: true,
update: function(){
console.log(this)
var id_group=parseInt($(this).attr("id").split("_")[2]);
$.ajax({
	type: 'post',
	data: $(this).sortable("serialize", {key:"toSort[]", expression: /(.+)/ }),
	dataType: 'script',
	complete: function(request){
	$('ul.items').effect('highlight');
	},
	url: '/courses/<%= @course.id %>/lectures/sort?group='+id_group});
}
});
});


$(document).ready(function(){
	
	setup_module_path();  // when click on module show statistics and details
	setup_item_path(); // show quiz or lecture details.
	setup_notifications();
});

setup_notifications = function()
{
	$('.adding').click(function(event){
		$(this).closest('ul').append("<li style='font-size:10px;'><center><img src='/assets/loading_small.gif'/>Please Wait</center></li>")
	});
	
	$('.adding_module').click(function(event){
		$(this).parent().children("ul").append("<li style='font-size:10px;'><center><img src='/assets/loading_small.gif'/>Please Wait</center></li>");
	});
	
}

setup_module_path = function()
{
	$('.trigger').click(function(event){
		var group_id=$(this).closest('li').attr('id').split("_")[1]
		$('#current_viewed').data('item',"group");
		$('#current_viewed').data('id',group_id);
		$.ajax({url:"/courses/<%=@course.id%>/groups/"+group_id+"/statistics", type:'get', dataType:'script'}); //statistics
		$.ajax({url:"/courses/<%=@course.id%>/groups/"+group_id+"/details", type:'get', dataType:'script'}); //details
	});
	
}

setup_item_path = function()
{
	$('.trigger2').click(function(event){
		var item= $(this).parents("li:eq(0)").attr('id').split("_")[0];
		var item_id= $(this).parents("li:eq(0)").attr('id').split("_")[1];
		var group_id=$(this).parents("li:eq(1)").attr('id').split("_")[1];
		$('#current_viewed').data('item',item);
		$('#current_viewed').data('id',item_id);
		$.ajax({url:"/courses/<%=@course.id%>/"+item.pluralize()+"/"+item_id+"/details", type:'get', dataType:'script'}); //statistics
		$.ajax({url:"/courses/<%=@course.id%>/"+item.pluralize()+"/"+item_id+"/middle", type:'get', dataType:'script',complete: function(request){
			//console.log("done");
			//pop = Popcorn.youtube( "#youtube", "http://www.youtube.com/watch?v=OVLZ6tCOa1w" ,{ width: 400, controls: 0}); //youtube unlike normal html5 needs to be run from a webserver
			//pop.controls( false );                          
			//pop.play();
			//console.log(pop);
			
			
				//THIS IS WORKING NOW.. MAKE SURE BUTTON WORKS TOO AND CONTINUE,
			
			
			
		}
		}); //middle
		
	});
	
}


</script>
<style>
	.datepicker2{
		
	}
	.left-space{
		margin-left:2em;
		display:inline;
	}
	
	.red{
		color:red;
		font-style: italic;
	}
	.handle:hover, .handle2:hover{
		cursor: crosshair;
		vertical-align: top;
	}
	.handle, .handle2{
		vertical-align: top;
	}
</style>

<ul id="acc1" class="accordion">
	<% @course.groups.each do |group| %>
					<li id=<%= "group_#{group.id}"%> class="modules">
                        <h5><%=image_tag "move2.png", :class => 'handle', :title => "Drag to reorder modules" %><%= group.name %><%= link_to image_tag("trash3.png") , [@course, group ],:title =>"delete" ,:confirm => "Are you sure you want to delete #{group.name} and all of its contents?", :method => :delete, :remote=> true, :style=>"float:right;" , :id => "removeB"%></h5>
                        <div class="inner" id="modules">
                          <ul class="items" id=<%="group_items_#{group.id}"%>>
                          	<% group.get_items.each do |item| %>
                            <li id=<%= "#{item.class.name.downcase}_#{item.id}"%> class="last-child">
                              <%=image_tag "move2.png", :class => 'handle2', :title => "Drag to reorder items" %><div class="trigger2"><%= item.name %></div><%= link_to image_tag("trash3.png") , [@course, item ],:title =>"delete" ,:confirm => "Are you sure you want to delete #{item.name} and all of its contents?", :method => :delete, :remote=> true, :style=>"float:right;display:inline-table;" , :id => "removeB"%>
                            </li>
                            <% end %>
                            <li class="item-buttons">
                            <center>
                            <%=link_to "Add Lecture",new_or_edit_course_lecture_path(@course, :group =>group.id), :class=>"btn btn-mini adding", :remote => true%>
                            <%=link_to "Add Quiz",new_or_edit_course_quiz_path(@course, :group =>group.id, :type =>"quiz"), :class=>"btn btn-mini adding", :remote => true%>
                            <%=link_to "Add Survey",new_or_edit_course_quiz_path(@course, :group =>group.id, :type =>"survey"), :class=>"btn btn-mini adding", :remote => true%>
                            </center>
                            </li>
                          </ul>
	                        
	                			
                        </div>
                      </li>
                 
 				<% end %>
 			</ul>
 			<%= link_to "Add Module", new_or_edit_course_group_path(@course) ,:class =>"btn adding_module", :style => "float:right;margin-bottom:20px;margin-top:20px;margin-right:10px;", :remote => true%>
 