<%= simple_nested_form_for(@course, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :short_name %>
    <%= f.input :name %>
    <%= f.input :start_date %>
    <%= f.input :duration, :label => "Duration (weeks)" %>
    <%= f.input :description, :input_html => {:style => 'width: 210px; height: 100px'} %>
    <%= f.input :prerequisites, :input_html => {:style => 'width: 210px; height: 100px'} %>
    
    
    <!-- Removed association for demo , could add it later-->
    <!-- <%= f.association :users, :as => :check_boxes %> --> <!-- or leave out checkboxes and will be multiple select -->
    	
    <!--<%= f.input :user_id %>-->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

