<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<%# This form is for creating a new or editing an existing course - used by the teacher only. %>

<%= simple_nested_form_for(@course, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :short_name %>
    <%= f.input :name %>
    <%= f.input :start_date, :as => :string, :input_html => { :class => 'date_picker' } %>
    <%= f.input :duration, :label => "Duration (weeks)" %>
    <%= f.input :description, :input_html => {:style => 'width: 210px; height: 100px'} %>
    <%= f.input :prerequisites, :input_html => {:style => 'width: 210px; height: 100px'} %>
    <%= f.input :time_zone, :collection => ActiveSupport::TimeZone.all.sort{|v1,v2| v1.name <=> v2.name}.map{|v| v.name} %>
    
    <!-- Removed association for demo , could add it later-->
    <!-- <%= f.association :users, :as => :check_boxes %> --> <!-- or leave out checkboxes and will be multiple select -->
    	
    <!--<%= f.input :user_id %>-->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
	$(function (){
 $('.date_picker').datepicker();
 });


</script>
