<style>
.pagination a, .pagination span {
    float: none;
    padding: 0px 0px;
    line-height: 20px;
    text-decoration: none;
    background-color: transparent;
    border-width: 0px 0px 0px 0px;
    border-style: none;;
    border-color: none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
.btn{
	line-height: 20px;
	margin-left:2px;
	margin-top:-10px;
	height:25px;
	font-size:12px;
}
.search_field{
	height:15px;
}
.student_name{
	cursor: pointer;
}

</style>


<%= form_tag progress_teacher_course_path(@course, :individual_student_grades => "p", :type => "grades"), :method => 'get', :id => "students_search", :style=>"display:inline" do %>
  <p style="display:inline">
    <%= search_field_tag :search, params[:search], :style => "height:15px;" %>
    <%= submit_tag "Search", :name => nil, :class=>"btn" %>
  </p>
<% end %>

<br />

<!-- <%= link_to "Students Enrolled", course_path(@course) , :onclick => "$('#invited_students').toggle()", :remote => true,  :id=>"show_now" %> -->
<div id="invited_students", width="100%", style="overflow: auto;position:absolute:width:80%;">
	<table class="table table-striped" width="100%">
		<tr>
			<!-- <th>Enrolled</th> -->
			<th>Student Name</th>
			<th>Student Email</th>
		</tr>
		<%= render :partial => "student2", :collection => @students , :locals=> {:remove=> true} %></table>
	</table>
	<center><%= paginate @students %></center>
</div>
<br />

<hr />

<div id="student_grades" class="well"></div>



<script>
$(document).ready(function(){   // should put this somewhere elsee..
    
	
	//document.getElementById(b).parentNode.parentNode.style.display ="none";

var data =<%= @student_ids %>;

console.debug("i isssss "+data)

for(i=0; i<data.length; i++){
b= "studentsin_"+data[i]
//document.getElementById(b).parentNode.parentNode.style.display ="none";
}


$('.pagination span a').live('click', 
    function () {
    	//alert("here");
      $.getScript(this.href);
      return false;
    }
  );


$(".student_name").click(function(event){
	var student_id= $(this).attr("id").split("_")[1]
	$.ajax({url:"/courses/<%=@course.id%>/student_grade", type:'get',data: { student_id: student_id}, dataType:'script'}); 
});


});

//Search form.
  $('#students_search').submit(function () {
    $.get(this.action, $(this).serialize(), null, 'script'); // $(this).serialize to get the form data , null because i don't want a callback function, //script so function is evaluated as javascript
    return false; // so as not to submit the form
  });
  
$('#students_search input').keyup(function () {
  $.get($('#students_search').attr('action'),$('#students_search').serialize(), null, 'script');
  return false;
 });

change = function(val)
{
	$.get($('#students_search').attr('action'),$('#students_search').serialize(), null, 'script');	
}





</script>





