<h3>Lecture Progress Chart</h3>
<style>
	.table{
		font-size: 10px;
	}
</style>
<table class="table">
	<tr>
	<td></td>
	<!-- <td></td> -->
	<td>Total Quiz Grade</td>
	<td>Total Invideo Quiz Grade</td>
	<td>% Quizzes Done</td>
	<td>% Invideo Quizzes Done</td>
	</tr>
	<% @statistics.each do |k,v| %>
	<tr>
		<td><%= k.name %></td>
		<!-- <td><%= k.email %></td> -->
		<% v.each do |value| %>
			<td><%= value %></td>
		<% end %>
	</tr>
	<% end %>
</table>


<!-- <div style="border:1px solid black;width:150px;float:right;padding: 5px;">
	<%= image_tag "check5.png", :style =>"width:12px;"%><p style="margin-left:10px;font-size:12px;display:inline">Finished, On Time </p><br />
	<%= image_tag "check5gray.png", :style =>"width:12px;"%><p style="margin-left:10px;font-size:12px;display:inline">Finished, Late</p><br />
	<%= image_tag "redx.png", :style =>"width:12px;"%><p style="margin-left:10px;font-size:12px;display:inline">Not Finished</p>
</div> -->