<tr> 

<!-- to enroll students -->
<!-- <td>
<% if @student_ids.include?(student.id) %>
<%= check_box_tag "studentsin[#{student.id}]", 1, true,:onClick => "add_remove($(this),#{student.id}, '#{add_student_course_path(@course)}', '#{remove_student_course_path(@course)}')" %>
<% else %>
<%= check_box_tag "studentsin[#{student.id}]", 1, false,:onClick => "add_remove($(this),#{student.id}, '#{add_student_course_path(@course)}', '#{remove_student_course_path(@course)}')" %>
<% end %>
</td> -->


<td>
<%= student.name %>
</td>

<td>
<%= link_to student.email, send_email_course_path(@course, :student => student.id) %>
</td>

<td>
<%= link_to "Remove from course", remove_student_course_path(@course, :student => student.id), :confirm=>"Are you would like to delete #{User.find(student.id).name} and all of his data?"%>	
</td>


</tr>

