<h3>Overall Statistics</h3>

<table class="table">
	<tr><td>Total Quiz Grade</td><td><%= @overall[0] %></td></tr>
	<tr><td>Total Invideo Quiz Grade</td><td><%= @overall[1] %></td></tr>
	<tr><td>% Quizzes Done</td><td><%= @overall[2] %></td></tr>
	<tr><td>% Invideo Quizzes Done</td><td><%= @overall[3] %></td></tr>
</table>

<h3>Progress Matrix</h3>

<table class="table">
	
	<% @mod_chart.each do |key,value| %>
	<tr>
			<td><%= Group.find(key).name %></td>
			<td><%= image_tag "check5.png", :style =>"width:15px;"  if value == "Finished on Time" %>
				<%= image_tag "redx.png", :style =>"width:15px;"  if value == "Not Finished" %>
				<%= image_tag "check5gray.png", :style =>"width:15px;"  if value == "Finished Not on time" %> <%= "(#{@mod_late[key]} days)" if @mod_late[key]%>
			</td>
		<% end %>
	</tr>

	
</table>


<div style="border:1px solid black;width:150px;float:right;padding: 5px;">
	<%= image_tag "check5.png", :style =>"width:12px;"%><p style="margin-left:10px;font-size:12px;display:inline">Finished, On Time </p><br />
	<%= image_tag "check5gray.png", :style =>"width:12px;"%><p style="margin-left:10px;font-size:12px;display:inline">Finished, Late</p><br />
	<%= image_tag "redx.png", :style =>"width:12px;"%><p style="margin-left:10px;font-size:12px;display:inline">Not Finished</p>
</div>