<% content_for :extra do %>
    <ul class="nav nav-pills">
    <li class=<%= (current_page?(student_show_course_path(@course)) ? 'active' : nil)  %>>
    <%= link_to "Course Information", student_show_course_path(@course)%>
    </li>
    <li class=<%= (current_page?(courseware_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Courseware", courseware_course_path(@course)%></li>
    <li class=<%= (current_page?(progress_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Progress", progress_course_path(@course)%></li>
    </ul>
<% end %>


<div class="row">
<div class="span3">


<div class="accordion" id="accordion2">

<% @course.groups.each do |g| %>	
<div class="accordion-group">
<div class="accordion-heading">
	
<center><%= link_to g.name, "#group_#{g.id}", :class =>"accordion-toggle", "data-toggle"=> "collapse", "data-parent"=>"#accordian2" %></center>

</div>
<% if @typeGroup == g.id %> <!-- opening the group we're in -->
<%= div_for(g, :class =>"accordion-body collapse in" ) do %>
<% flag=1 %>
<% g.lectures.each do |q| %>	
<% flag=0 %>
<div class="accordion-inner">
<%= link_to "Lecture: #{q.name}", courseware_course_path(@course, :l => q) , :class => "quiz"%>
</div>
<% end %>
<% g.quizzes.each do |q| %>	
<% flag=0 %>
<div class="accordion-inner">
<%= link_to "Quiz: #{q.name}", courseware_course_path(@course, :q => q) , :class => "quiz"%>
</div>
<% end %>
<% if flag==1 %>
<div class="accordion-inner">
Empty
</div>
<% end %>

<% end %>
<% else %>
<%= div_for(g, :class =>"accordion-body collapse" ) do %> <!-- closing the groups we're not in -->
<% flag=1 %>
<% g.lectures.each do |q| %>	
<% flag=0 %>
<div class="accordion-inner">
<%= link_to "Lecture: #{q.name}", courseware_course_path(@course, :l => q) , :class => "quiz"%>
</div>
<% end %>
<% g.quizzes.each do |q| %>	
<% flag=0 %>
<div class="accordion-inner">
<%= link_to "Quiz: #{q.name}", courseware_course_path(@course, :q => q) , :class => "quiz"%>
</div>
<% end %>
<% if flag==1 %>
<div class="accordion-inner">
Empty
</div>
<% end %>

<% end %>
<% end %>

</div>
<% end %>
</div>
</div>

<div class="span9">
<% if @q %>
	<%= render @q %>
<% end %>
</div>
</div>


