<style>
	.accordion-heading{
		height:120px;
	}
</style>

<%= render "shared/head2"%>


<div class="row">
<div class="span3">


<div class="accordion" id="accordion2">

<% @course.groups.each do |g| %>	

<% if g.appearance_time <= Time.zone.now %>	
<div class="accordion-group">
<div class="accordion-heading">

<table class="table" height="120px;">
	<tr>
		<td rowspan="2"><%= link_to g.name, "#group_#{g.id}", :class =>"accordion-toggle", "data-toggle"=> "collapse", "data-parent"=>"#accordian2", :style => "text-decoration:none;display:inline;vertical-align:center" %></td>
		<td style="color:gray;vertical-align:middle;background-color:rgb(223,240,216);font-size:12px">Total Time:<%= g.total_time %></td>
	</tr>
	<tr>
		
		<td style="color:gray;vertical-align:middle;background-color:rgb(223,240,216);font-size: 12px;">Number of Questions:<%= g.total_questions%></td>
	</tr>
</table>


</div>
<% if @typeGroup == g.id %> <!-- opening the group we're in -->
<%= div_for(g, :class =>"accordion-body collapse in" ) do %>
<% flag=1 %>
<% g.lectures.each do |q| %>
<% if q.appearance_time <= Time.zone.now %>		
<% flag=0 %>
<div class="accordion-inner">
<% if !notseen?(q.id) %>
<%= image_tag "check7.png" , :style=> "margin-left:10px;margin-right:10px"%> 
<% else %>
<%= image_tag "empty7.png" , :style=> "margin-left:10px;margin-right:10px"%>
<% end %>
<%= link_to "Lecture: #{q.name}", courseware_course_path(@course, :l => q) , :class => "quiz", :style => "text-decoration:none"%> 
<%= link_to "slides", q.slides, :style =>"font-size:10px;float:right;"  if q.slides!="none" and !q.slides.nil? %>
</div>
<% end %>
<% end %>
<% g.quizzes.each do |q| %>
<% if q.appearance_time <= Time.zone.now %>	
<% flag=0 %>
<div class="accordion-inner">
<% if !quiznotseen?(q.id) %>
<%= image_tag "check7.png" , :style=> "margin-left:10px;margin-right:10px"%> 
<% else %>
<%= image_tag "empty7.png" , :style=> "margin-left:10px;margin-right:10px"%>
<% end %>

<%= link_to "Quiz: #{q.name}", courseware_course_path(@course, :q => q) , :class => "quiz" , :style => "text-decoration:none"%>
</div>
<% end %>
<% end %>
<% if flag==1 %>
<div class="accordion-inner">
Empty
</div>
<% end %>

<% end %>
<% else %>
<%= div_for(g, :class =>"accordion-body collapse" ) do %> <!-- closing the groups we're not in -->
<% flag=1 %>
<% g.lectures.each do |q| %>
<% if q.appearance_time <= Time.zone.now %>		
<% flag=0 %>
<div class="accordion-inner">
<% if !notseen?(q.id) %>
<%= image_tag "check7.png" , :style=> "margin-left:10px;margin-right:10px"%> 
<% else %>
<%= image_tag "empty7.png" , :style=> "margin-left:10px;margin-right:10px"%>
<% end %>
<%= link_to "Lecture: #{q.name}", courseware_course_path(@course, :l => q) , :class => "quiz" , :style => "text-decoration:none"%>
<%= link_to "slides", q.slides, :style =>"font-size:10px;float:right;" if q.slides!="none" and !q.slides.nil? %>
</div>
<% end %>
<% end %>
<% g.quizzes.each do |q| %>
<% if q.appearance_time <= Time.zone.now %>		
<% flag=0 %>
<div class="accordion-inner">
<% if !quiznotseen?(q.id) %>
<%= image_tag "check7.png" , :style=> "margin-left:10px;margin-right:10px"%> 
<% else %>
<%= image_tag "empty7.png" , :style=> "margin-left:10px;margin-right:10px"%>
<% end %>
<%= link_to "Quiz: #{q.name}", courseware_course_path(@course, :q => q) , :class => "quiz" , :style => "text-decoration:none"%> 
</div>
<% end %>
<% end %>
<% if flag==1 %>
<div class="accordion-inner">
Empty
</div>
<% end %>

<% end %>
<% end %>

</div>
<% end %>
<% end %>
</div>
</div>

<div class="span9">
<% if @q %>
	<%= render @q %>
<% end %>
</div>
</div>


