<%= render 'shared/head' %>
<% cache :hash => {:tag => User.maximum(:updated_at).to_i, :count => User.count} do %>
<style>
.pagination a, .pagination span {
    float: none;
    padding: 0px 0px;
    line-height: 20px;
    text-decoration: none;
    background-color: transparent;
    border-width: 0px 0px 0px 0px;
    border-style: none;;
    border-color: none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
.btn{
	line-height: 20px;
	margin-left:2px;
	margin-top:-10px;
	height:25px;
	font-size:12px;
}
.search_field{
	height:15px;
}

</style>

<div class="row">
	  <!-- This is obtrusive javascript-->
<!-- to search enrolled or not.. removed because teacher doesn't enroll students anymore.-->
<!-- <div class="span6"> 
<select style="display:inline;height:25px;font-size:12px;" id='type' onchange="change(this.value)"><option value="all">All</option><option value="enrolled">Enrolled</option><option value="not">Not Enrolled</option></select>
</div> -->
<div class="span12">
<%= link_to "Email All", send_batch_email_course_path(@course) %>
<%= form_tag enrolled_students_course_path(@course), :method => 'get', :id => "students_search", :style=>"display:inline;float:right" do %>
  <p style="display:inline">
    <%= search_field_tag :search, params[:search], :style => "height:15px;" %>
    <%= submit_tag "Search", :name => nil, :class=>"btn" %>
  </p>
<% end %>
</div>
</div>


<!-- <%= link_to "Students Enrolled", course_path(@course) , :onclick => "$('#invited_students').toggle()", :remote => true,  :id=>"show_now" %> -->
<div id="invited_students", width="100%", style="overflow: auto;position:absolute:width:80%;height:500px;">
	<table class="table table-striped" width="100%">
		<tr>
			<!-- <th>Enrolled</th> -->
			<th>Student Name</th>
			<th>Student Email</th>
			<th></th>
		</tr>
	<%= render :partial => "student", :collection => @students , :locals=> {:remove=> true} %></table>
	<center><%= paginate @students %></center>
</div>
<br />
</div>


<script>
$(document).ready(function(){   // should put this somewhere elsee..
    
	
	//document.getElementById(b).parentNode.parentNode.style.display ="none";

var data =<%= @student_ids %>;
var data2=<%= @student_ids2 %>;
console.debug("i isssss "+data)

for(i=0; i<data.length; i++){
b= "studentsin_"+data[i]
//document.getElementById(b).parentNode.parentNode.style.display ="none";
}

for(i=0; i<data2.length; i++){

b= "students["+data2[i]+"]"
console.debug(b)
//document.getElementById(b).parentNode.parentNode.style.display ="none";
}

$('.pagination span a').live('click', 
    function () {
    	//alert("here");
      $.getScript(this.href);
      return false;
    }
  );

});

//Search form.
  $('#students_search').submit(function () {
    $.get(this.action, $(this).serialize(), null, 'script'); // $(this).serialize to get the form data , null because i don't want a callback function, //script so function is evaluated as javascript
    return false; // so as not to submit the form
  });
  
$('#students_search input').keyup(function () {
  $.get($('#students_search').attr('action'),$('#students_search').serialize()+'&type='+$('#type').val(), null, 'script');
  return false;
 });

change = function(val)
{
	$.get($('#students_search').attr('action'),$('#students_search').serialize()+'&type='+$('#type').val(), null, 'script');	
}

</script>





<% end %>




<!--NOW ADD CHECKBOXES ONLY (MARKED OR NOT) AND REMOVE THE REMOVE BUTTON
MAKE SURE WORKS IN "ALL"
AND ALSO IN ENROLLED (REMOVED FROM LIST) AND NOT ENROLLED... WHEN GO FROM ONE TO ANOTHER UPDATED..
-->





