<% content_for :extra do %>
    <ul class="nav nav-pills">
    <li class=<%= (current_page?(course_path(@course)) ? 'active' : nil)  %>>
    <%= link_to "Course Information", course_path(@course)%>
    </li>
    <li class=<%= (current_page?(courseware_teacher_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Courseware", courseware_teacher_course_path(@course)%></li>
    <li class=<%= (current_page?(enrolled_students_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Enrolled Students", enrolled_students_course_path(@course)%></li>
    <li class=<%= (current_page?(progress_teacher_course_path(@course)) ? 'active' : nil)  %>><%= link_to "Progress", progress_teacher_course_path(@course)%></li>
    </ul>
<% end %>


<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div><br><br />


<table class="table table-striped">
<thead>
	<th>
		Student name 
	</th>
	<th>
		Student Email
	</th>
</thead>
<% @students.each do |q| %>
<tr>
	<td>
	<%= link_to q.name, progress_teacher_detailed_course_path(@course, :q=>q.id) , :class => "btn"%>
	</td>
	<td>
	<%= q.email %>	
	</td>
</tr>
<% end %>
</table>

<script>
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: 'Student Grades'
            },
            xAxis: {
                categories: <%= raw @student_names %>
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Grade'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -100,
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y +'<br/>'+
                        'Total: '+ this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            // series: [{
                // name: 'John',  //should be quiz 1
                // data: [5, 3, 4, 7, 2]  // quiz 1 for all students. 5 is quiz 1 for student 1 ... i think will need to reverse loop quiz bara, students gowa.
            // }, {
                // name: 'Jane',
                // data: [2, 2, 3, 2, 1]
            // }, {
                // name: 'Joe',
                // data: [3, 4, 4, 2, 5]
            // }]
            series: <%= raw @data %>
        });
    });
    
});
</script>
