<%= render 'shared/head' %>

<div class="row">
<div class="span3">


<div class="accordion" id="accordion2">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
<center>Quizzes</center>
</a>
</div>
<% if @type == "quiz"%>
<div id="collapseOne" class="accordion-body collapse in">
<% else %>
<div id="collapseOne" class="accordion-body collapse">
<% end %>

<% @course.quizzes.each do |q| %>	
<div class="accordion-inner">
<%= link_to q.name, progress_teacher_course_path(@course, :q => q) , :class => "quiz"%>
</div>
<% end %>


</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
<center>Lectures</center>
</a>
</div>
<% if @type == "lecture"%>
<div id="collapseTwo" class="accordion-body collapse in">
<% else %>
<div id="collapseTwo" class="accordion-body collapse">
<% end %>
<% @course.lectures.each do |q| %>
<div class="accordion-inner">
<%= link_to q.name, progress_teacher_course_path(@course, :l => q)  , :class => "lecture"%>
</div>
<% end %>
</div>
</div>
</div>

</div>

<div class="span9">
<% if @q %>
	<%= render 'chart1' %>
<% end %>
</div>
</div>


<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div><br><br />


<table class="table table-striped">
<thead>
	<th>
		Student name 
	</th>
	<th>
		Student Email
	</th>
</thead>
<% @students.each do |q| %>
<tr>
	<td>
	<%= link_to q.name, progress_teacher_detailed_course_path(@course, :q=>q.id) , :class => "btn"%>
	</td>
	<td>
	<%= q.email %>	
	</td>
</tr>
<% end %>
</table>

<script>
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: 'Student Grades'
            },
            xAxis: {
                categories: <%= raw @student_names %>
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Grade'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -100,
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y +'<br/>'+
                        'Total: '+ this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            // series: [{
                // name: 'John',  //should be quiz 1
                // data: [5, 3, 4, 7, 2]  // quiz 1 for all students. 5 is quiz 1 for student 1 ... i think will need to reverse loop quiz bara, students gowa.
            // }, {
                // name: 'Jane',
                // data: [2, 2, 3, 2, 1]
            // }, {
                // name: 'Joe',
                // data: [3, 4, 4, 2, 5]
            // }]
            series: <%= raw @data %>
        });
    });
    
});
</script>
