<%= render "shared/head2"%>


<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<br />
<hr />
<br />


<table class="table table-striped">

<% @groups.each do |g| %>	
<tr>
<td><%= g.name %></td>	
<td>

<blockquote>
<% g.lectures.where("appearance_time<= ?",Time.zone.now).each do |l|  %>

<%= link_to l.name, courseware_course_path(@course, :l =>l.id) %><br />
<% l.online_quizzes.order(:time).each do |f| %>
	<span style="padding-right:2em;"><%= @lectureGrades[f.id]||0 %>/1.0</span>
<% end %><br /><br />

<% end %>
<% g.quizzes.where("appearance_time<= ?",Time.zone.now).each do |q|  %>


<%= link_to q.name, courseware_course_path(@course, :q =>q.id) %><br />
 <small>Deadline: <%= q.due_date.to_formatted_s(:short) %></small>
 <%= @quiztable[q.id][0] %>/<%= @quiztable[q.id][1] %><br /><br />


<% end %>
</blockquote> 
</td>
</tr>
<% end %>
	
</table>


<!-- <table class="table table-striped">
<thead>
	<th>
		Quiz 
	</th>
	<th>
		Instructions
	</th>
	<th>
		Number of questions
	</th>
</thead>
<% @quizzes_taken.each do |q| %>
<tr>
	<td>
	<%= link_to q.name, courseware_course_path(@course, :q=>q.id) %>
	</td>
	<td>
	<%= q.instructions %>	
	</td>
	<td>
	<%= q.questions.size %>	
	</td>
</tr>
<% end %>
</table> -->


<script>
// for chart
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: 'Grades'
            },
            //subtitle: {
            //    text: 'Source: WorldClimate.com'
            //},
            xAxis: {
                categories: 
                    <%= raw @quizNames %>
                
            },
            yAxis: {
                min: 0,
                max: 100,
                title: {
                    text: 'Grade (%)'
                }
            },
            legend: {
                layout: 'vertical',
                backgroundColor: '#FFFFFF',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                shadow: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x +': '+ this.y +' %';
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
                series: [{
                    showInLegend: false,
                data: <%= raw @quizScores %>
    
            }]
        });
    });
    
});
</script>