<script src="/assets/highcharts.js"></script>
<script src="/assets/modules/exporting.js"></script>
<%= render 'shared/head' %>

<div class="row">
<div class="span3">


<div class="accordion" id="accordion2">
	
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseZero">
<center>Modules</center>
</a>
</div>
<% if @type == "group"%>
<div id="collapseZero" class="accordion-body collapse in">
<% else %>
<div id="collapseZero" class="accordion-body collapse">
<% end %>

<div class="accordion-inner">
<%= link_to "All Modules", progress_teacher_course_path(@course, :all_modules => "all") , :class => "group"%>	
</div>
<% @course.groups.each do |q| %>	
<div class="accordion-inner">
<%= link_to q.name, progress_teacher_course_path(@course, :g => q) , :class => "group"%>
</div>
<% end %>


</div>
</div>	
	
	
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
<center>Quizzes</center>
</a>
</div>
<% if @type == "quiz"%>
<div id="collapseOne" class="accordion-body collapse in">
<% else %>
<div id="collapseOne" class="accordion-body collapse">
<% end %>

<div class="accordion-inner">
<%= link_to "All Quizzes", progress_teacher_course_path(@course, :all => "all") , :class => "quiz"%>
</div>
<% @course.quizzes.each do |q| %>	
<div class="accordion-inner">
<%= link_to q.name, progress_teacher_course_path(@course, :q => q) , :class => "quiz"%>
</div>
<% end %>


</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
<center>Lectures</center>
</a>
</div>
<% if @type == "lecture"%>
<div id="collapseTwo" class="accordion-body collapse in">
<% else %>
<div id="collapseTwo" class="accordion-body collapse">
<% end %>
<% @course.lectures.order(:appearance_time).each do |q| %>
<div class="accordion-inner">
<%= link_to "#{(q.group).name} : #{q.name}", progress_teacher_course_path(@course, :l => q)  , :class => "lecture"%>
</div>
<% end %>
</div>
</div>


<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
<center>Progress</center>
</a>
</div>
<% if @type == "Progress"%>
<div id="collapseThree" class="accordion-body collapse in">
<% else %>
<div id="collapseThree" class="accordion-body collapse">
<% end %>

<div class="accordion-inner">
<%= link_to "Progress Chart", progress_teacher_course_path(@course, :p => "p")  , :class => "lecture"%>
</div>

</div>
</div>

</div>

</div>

<div class="span9">
<% if @quizchart %>
	<%= render 'chart2' %>
<% end %>
<% if @modulechart %>
	<%= render 'chartModule' %>
	<%= render 'matrixLecture' %>
<% end %>
<% if @matrix %>
	<%= render 'matrixModule' %>
<% end %>
<% if @q %>
	<%= render 'chart1' %>
	<%= #render 'confused' #don't think we need this anymore
	%>
	<%= render 'confused_chart' %>
	<%= render 'evaluations' %>
<% end %>
<% if @p %>
	<%= render 'chart_progress' %>
<% end %>
<% if @data %>
	<%= render 'chart_all_quizzes' %>
<% end %>

</div>
</div>


<!-- <table class="table table-striped">
<thead>
	<th>
		Student name 
	</th>
	<th>
		Student Email
	</th>
</thead>
<% @students.each do |q| %>
<tr>
	<td>
	<%= link_to q.name, progress_teacher_detailed_course_path(@course, :q=>q.id) , :class => "btn"%>
	</td>
	<td>
	<%= q.email %>	
	</td>
</tr>
<% end %>
</table> -->
