<%# Shows course information for the teacher to see.%>
<%= render 'shared/head' %>

<% cache do %>
<style>
	.table th, .table td{
		border: none
	}
</style>

<div class="row">
<div class="span6">
  <h4> <%= @course.short_name %> - <%= @course.name %></h4>

<table class="table">

<tr>
  <td><b>Course Enrollment Key:</b></td>
  <td><%= @course.unique_identifier %></td>
</tr>

<tr>
  <td><b>Start date:</b></td>
  <td><%= @course.start_date %></td>
</tr>

<tr>
  <td><b>Duration:</b></td>
  <td><%= @course.duration %> Weeks</td>
</tr>

<tr>
  <td><b>Description:</b></td>
  <td><%= @course.description %></td>
</tr>

<tr>
  <td><b>Prerequisites:</b></td>
  <td><%= @course.prerequisites %></td>
</tr>

<tr>
  <td><b>Time Zone</b></td>
  <td><%= @course.time_zone %></td>
</tr>

</table>

<%= link_to (image_tag "pencil3.png"), edit_course_path(@course), :title => "Edit Course Information" %>
<!-- <%= link_to 'Back', courses_path %> -->
</div>

</div> 
<% end %>
