<%= render "shared/head2"%>


<h3> <%= @course.short_name %> - <%= @course.name %></h3>
					<p>
					  <b>Start date:</b>
					  <%= @course.start_date %>
					</p>
					
					<p>
					  <b>Duration:</b>
					  <%= @course.duration %>
					</p>
					
					<p>
					  <b>Description:</b>
					  <%= @course.description %>
					</p>
					
					<p>
					  <b>Prerequisites:</b>
					  <%= @course.prerequisites %>
					</p>

<!-- <div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active">
			<a data-toggle="tab" href="#lA">Course Information</a>
		</li>
		<li class="">
			<a data-toggle="tab" href="#lB">Courseware</a>
		</li>
		<li class="">
			<a data-toggle="tab" href="#lC">Progress</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="lA" class="tab-pane active">
			<h3> <%= @course.short_name %> - <%= @course.name %></h3>
					<p>
					  <b>Start date:</b>
					  <%= @course.start_date %>
					</p>
					
					<p>
					  <b>Duration:</b>
					  <%= @course.duration %>
					</p>
					
					<p>
					  <b>Description:</b>
					  <%= @course.description %>
					</p>
					
					<p>
					  <b>Prerequisites:</b>
					  <%= @course.prerequisites %>
					</p>
		</div>
		<div id="lB" class="tab-pane">
			<p>Howdy, I'm in Section B.</p>
		</div>
		<div id="lC" class="tab-pane">
			<p>What up girl, this is Section C.</p>
		</div>
	</div>
</div> -->